Django==6.0.1
django-admin-ordering==0.20.0
django-cors-headers==4.9.0
django-currentuser==0.10.0
django-image-cropping==1.7
django-imagekit==6.0.0
djangorestframework==3.16.1
easy-thumbnails==2.10.1
gunicorn==23.0.0
psycopg==3.3.2
requests==2.32.3
