Django==6.0.8
django-admin-ordering==0.21.0
django-cors-headers==4.9.0
django-currentuser==0.10.0
django-image-cropping==1.7
django-imagekit==6.1.0
djangorestframework==3.18.0
easy-thumbnails==2.10.1
gunicorn==26.2.0
psycopg[binary]==3.3.5
requests==2.34.2
Markdown==3.10.3
