{% load web_tags static %}

<div class="audio">
    <div>
        <button id="playBtn">{% inline_svg 'play-media.svg' %}</button>
        <div>
            <h3>{{ title }}</h3>
            <p>{{ licence|safe }}</p>
        </div>
    </div>

    <div class="spectrogram_container" id="spectrogram_container">
        <img src="{{ png }}">
        <div class="cover" id="widther" style="width: 0%;">
            <img src="{{ png }}">
        </div>
    </div>

    <div class="time">
        <div id="audio_start">00:00</div>
        <div id="audio_end"></div>
    </div>

    <audio id="audio">
        <source src="{{ url }}">
    </audio>
</div>

<script src="{% static 'web/js/audio.js' %}"></script>
<script>
    const audio = document.getElementById('audio')
    init_audio(audio);
</script>
