{% load i18n %}

<section class="features {% if similar_species or audio %}grid-2-3{% endif %}">
  {% if similar_species %}
  <div class="characters-and-audio">
  {% endif %}
  <div class="characters">
    <div>
      <img src="{{ portrait.species.avatar_new.imagefile.image.url }}">
      <div>
        <h3>{% translate "Merkmale" %}</h3>
        <h4>{{ species_name }}</h4>
        <h5>{{ portrait.species.sciname }}</h5>
      </div>
    </div>
    <ul>
      {% for unambigousfeature in unambigousfeatures %}
      <li>{{ unambigousfeature }}</li>
      {% endfor %}
    </ul>
  </div>
  {% if audio %}
  {% include "partials/audio.html" with title=audio.audio_title licence=audio.licence png=audio.png url=audio.url only %}
  {% endif %}
  {% if similar_species %}
  </div>
  {% endif %}
  {% if similar_species %}
  <div class="similar">
    <h3>{% translate "Verwechslungsarten" %}</h3>
    <div>
    {% for sim in similar_species %}
    <a href="{{ sim.url }}">
      <div>
        <img src="{{ sim.img }}">
        <div>
          <h4>{{ sim.name }}</h4>
          <h5>{{ sim.sciname }}</h5>
        </div>
      </div>
      {{ sim.differences }}
    </a>
    {% endfor %}
    </div>
  </div>
  {% endif %}
</section>
