{% load static web_tags %}

<div id="obs_popup">
    <div id="obs_popup-header">
        <img id="avatar" src="{{obs_data.species_avatar}}">
        <div>
            <p>{{ obs_data.sciname }}</p>

            <h2>{{ obs_data.name }}</h2>

            {% if obs_data.additional_names %}
            <p>{{ obs_data.additional_names }}</p>
            {% endif %}
        </div>
    </div>

        {% if obs_data.is_fauna %}
        <div id="obs_popup-fauna-main">
            {% with png="/api/projects/observations/"|add:obs_data.obs_id|add:"/audio.mp4.png" as png %}
            {% with mp4="/api/projects/observations/"|add:obs_data.obs_id|add:"/audio.mp4" %}
            {% with title="Gehört am "|add:obs_data.date|add:" von "|add:obs_data.cc_name licence='<a href="https://creativecommons.org/licenses/by/4.0/">CC BY-SA 4.0</a> '|add:obs_data.cc_name %}
            {% include "partials/audio.html" with title=title licence=licence png=png url=mp4 %}
            {% endwith %}
        </div>
        {% else %}
        <div id="obs_popup-flora-main">
            <div>
                <p>Gesehen am {{ obs_data.date }} von {{ obs_data.cc_name }}</p>
                <p><a href="https://creativecommons.org/licenses/by/4.0/">CC BY-SA 4.0</a> {{ obs_data.cc_name }}</p>
                <p>{{ obs_data.coords.1 }} {{ obs_data.coords.0 }}</p>
            </div>
            <img id="obs-img" src="/api/projects/observations/{{ obs_data.obs_id }}/image.jpg" alt="Observation image">
        </div>
        {% endif %}

    <div id="obs_popup-footer">
        <a href="{% url 'map_obs' obs_data.obs_id %}">Erfahre mehr {% inline_svg 'right-arrow.svg' %}</a>
    </div>
</div>
