{% load static web_tags i18n %}

<div id="obs_popup" obs-date="{{ obs_data.js_date_time }}">
    <div id="obs_popup-header">
        <img id="avatar" src="{{obs_data.species_avatar}}">
        <div>
            <p>{{ obs_data.sciname }}</p>

            <h2>{{ obs_data.name }}
                {% if obs_data.is_fauna %}
                    {% include "partials/mini_audio.html" with id="mini-audio" url=obs_data.portrait_audio_url only %}
                {% endif %}
            </h2>

            {% if obs_data.additional_names %}
            <p>{{ obs_data.additional_names }}</p>
            {% endif %}
        </div>
    </div>

    {% if obs_data.is_fauna %}
    <div id="obs_popup-fauna-main">
        {% translate "Gehört __WHEN__ von " as title %}
        {% with title=title|add:obs_data.cc_name|add:" in __PLACE__" licence='<a href="https://creativecommons.org/licenses/by/4.0/">CC BY-SA 4.0</a> '|add:obs_data.cc_name %}
        {% include "partials/audio.html" with id="observation-audio" title=title licence=licence png=obs_data.png_url url=obs_data.mp4_url %}
        {% endwith %}
    </div>
    {% else %}
    <div id="obs_popup-flora-main">
        <div>
            <p id="seen_by">{% translate "Gesehen __WHEN__ von" %} {{ obs_data.cc_name }} in __PLACE__</p>
            <p><a href="https://creativecommons.org/licenses/by/4.0/">CC BY-SA 4.0</a> {{ obs_data.cc_name }}</p>
            <p>{{ obs_data.coords.1 }} {{ obs_data.coords.0 }}</p>
        </div>
        <img id="obs-img" src="{{ obs_data.jpg_url }}" alt="Observation image">
    </div>
    {% endif %}

    <div id="obs_popup-footer">
        <a href="{% url 'map_obs' obs_data.obs_id %}?lang={{ obs_data.language }}">{% translate "Erfahre mehr" %} {% inline_svg 'right-arrow.svg' %}</a>
    </div>
</div>
