<ol class="specieslist">
  {% for species in species_list %}
  <li>
    {% if lang == 'en' and 'engname' in species %}
    <em><a href="{% url 'portrait' species.id %}">{{ species.sciname }}</a></em> ({{species.engname}})
    {% elif 'gername' in species and species.gername %}
    <em><a href="{% url 'portrait' species.id %}">{{ species.sciname }}</a></em> ({{species.gername}})
    {% else %}
    <em><a href="{% url 'portrait' species.id %}">{{ species.sciname }}</a></em>
    {% endif %}
  </li>
  {% endfor %} 
</ol>
