{% load static %}

<div class="person-card">
    <img alt="" src={% static 'web/img/logo_0fa7d2c035.jpg' %}
            srcset="{% static 'web/img/large_logo_0fa7d2c035.jpg' %} 1200w,
            {% static 'web/img/small_logo_0fa7d2c035.jpg' %} 400w,
            {% static 'web/img/medium_logo_0fa7d2c035.jpg' %} 800w,
            {% static 'web/img/thumbnail_logo_0fa7d2c035.jpg' %} 156w,
    {% static 'web/img/logo_0fa7d2c035.jpg' %}"
    sizes="(max-width: 767px) 800px, (max-width: 1023px) 400px, 400px">
    <div class="person-card__body">
        <h3 class="person-card__name">{{ name }}</h3>
        <p class="person-card__role">{{ position }}</p>
    </div>
</div>