<section class="gtk">
    <div>
        <h2>{{ title }}</h2>
        {% for type, fact in goodtoknows.items %}
        <p>
            {% if type == 'usage' %}<strong>Nutzung</strong>: {{ fact }}
            {% elif type == 'blossom' %}<strong>Blütezeit</strong>: {{ fact }}
            {% elif type == 'lifeform' %}<strong>Lebensform</strong>: {{ fact }}
            {% elif type == 'distribution' %}<strong>Verbreitung</strong>: {{ fact }}
            {% else %}{{ fact }}
            {% endif %}
            <!-- todo check endangerstatus and coloring -->
        </p>
        {% endfor %}
    </div>
    {% include "partials/portrait_img.html" with url=img_meta.image_file.image.url link_text=img_meta.text licence=img_meta.image_file.license owner=img_meta.image_file.owner only %}
</section>