services:
  django-db:
    ports: 
      - 127.0.0.1:5558:5432
    image: postgres:17
    restart: unless-stopped
    container_name: django-db
    volumes:
      - ./pg_dump.sql:/docker-entrypoint-initdb.d/pg_dump.sql
    environment:
      POSTGRES_PASSWORD: ${DJANGO_POSTGRES_PASSWORD}
      POSTGRES_USER: ${DJANGO_POSTGRES_USER}
      POSTGRES_DB: ${DJANGO_POSTGRES}
    command:
      - "postgres"
      - "-c"
      - "wal_level=logical"
