services:
  django-db:
    ports: 
      - 5558:5432
    image: postgres
    restart: unless-stopped
    container_name: django-db
    volumes:
      - ./pg_dump.sql:/docker-entrypoint-initdb.d/pg_dump.sql
    environment:
      POSTGRES_PASSWORD: ${DJANGO_POSTGRES_PASSWORD}
      POSTGRES_USER: ${DJANGO_POSTGRES_USER}
      POSTGRES_DB: ${DJANGO_POSTGRES}
