.audio {
    color: white;
    background-color: var(--relax);
    border-radius: 8px;
    padding: 16px;
    box-shadow: var(--shadow);
    font-weight: 700;
    margin-bottom: 8px;

    audio {
        display: none;
    }

    div:first-of-type {
        display: flex;
        align-items: flex-start;
        gap: 8px;

        div {
            display: flex;
            flex-direction: column;
        }

        button {
            background: none;
            border: none;
            font-size: var(--font-size-big);
            svg {
                width: 48px;
                height: 48px;
            }
        }
    }

    .spectrogram_container {
        position: relative;
        margin-top: 8px;
        line-height: 0px;

        img {
            opacity: 0.75;
            width: 100%;
            margin-bottom: 0;
        }
        .cover {
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            height: 100%;

            img {
                height: 100%;
                width: auto;
                opacity: 1;
            }
        }
    }

    .time {
        display: flex;
        justify-content: space-between;
        font-size: var(--font-size-small);
    }

    h3, p {
        margin: 0;
        padding: 0;
    }

    h3 {
        font-size: var(--font-size-regular);
        line-height: var(--line-height-regular);
    }

    p {
        font-size: var(--font-size-super-small);
        line-height: var(--line-height-super-small);
        opacity: .5;
    }
}

.audio_small {
    display: flex;
    flex-direction: row;
}