html {
    font-family: Lato,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
}

/* default */
body {
    display: flex;
	flex-direction: column;

    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
}

header {
    position: relative;

    color: white;
    text-align: center;

    background-image: url("../img/background_grain_opt.png");
    padding: 64px;

    .top-right {
        position: absolute;
        top: 32px;
        right: 32px;
        display: flex;
        gap: 10px;
        height: 40px;

        .initial-zoomed {
            color: var(--zoomed-color);
            font-size: var(--font-size-small);
        }

        .initial-unzoomed {
            color: var(--unzoomed-color);
            font-size: var(--font-size-big);
        }
    }

    .top-left {
        position: absolute;
        top: 32px;
        left: 32px;

        display: inline-flex;
        align-items: center;
        padding: 17px 24px;

        h5 {
            font-size: var(--font-size-big);
            line-height: var(--font-size-big);
            margin: 0 0 0 8px;
        }

        img {
            height: 19px;
            margin: 0;
        }
    }

    .header-title {
        padding: 96px 15% 32px;
        h1 p {
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
            opacity: 0.5;
            font-style: italic;
            font-weight: normal;
        }
    }

    hr {
        background-color: var(--happy);
    }

    a, details {
        display: flex;
        align-items: center;

        padding: 0 8px;

        background: none;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 4px;
    }

    a:hover, details:hover {
        border-color: rgba(255, 255, 255, 0.4);
    }

    a:active, details:active {
        border-color: white;
    }

    a.active {
        border-color: white;
    }

    details {
        position: relative;

        > summary {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
        }

        > summary::marker {
            display: none;
        }

        nav {
            position: absolute;
            top: 100%;
            right: 0;

            margin-top: 14px;
            min-width: max-content;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
    }
}

main {
    flex: 1;
    padding: 32px;
    margin: 0 auto;

    img {
        width: 100%;
        display: block;
        height: auto;
        border-radius: 8px;
        box-shadow: var(--shadow);
        margin-bottom: 32px;
    }
}

footer {
    padding: 32px;
    background-color: var(--footer-white);

    display: flex;

    .footer-right {
        margin-left: auto;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        color: var(--grey);
    }

    p {
        display: flex;
        gap: 1.5rem;
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);

        a {
            color: var(--grey);
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    width: 29px;
    height: 6px;
    border: none;
    margin: 64px auto;
    margin-top: 48px;
    margin-bottom: 32px;
    background-color: var(--relax);
}

svg {
    fill: var(--white);
    stroke: var(--white);
    stroke-width: 0px;
}

.columns-3 {
    display: grid;
    column-gap: var(--gutterwidth);
    row-gap: var(--gutterwidth);
    grid-template-columns: repeat(3, 1fr);
}

.columns-2 {
    display: grid;
    column-gap: var(--gutterwidth);
    row-gap: var(--gutterwidth);
    grid-template-columns: repeat(2, 1fr);
}

.text-container {
    max-width: 768px;
}

h1 {
    font-size: var(--font-size-jumbo);
    line-height: var(--line-height-jumbo);
    white-space: nowrap;
}

h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}

h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
}

h1,
h2,
h3,
h4,
h5,
h6,
.jumbo {
  font-weight: 900;
  margin-bottom: var(--line-height-regular);
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child),
.jumbo:not(:first-child) {
  margin-top: var(--line-height-regular);
}