html {
    background-image: url("../img/background_grain_opt_dark.png");
    body {
        .main-container {
            background-image: url("../img/background_grain_opt.png");
            li::marker {
                color: var(--fun);
            }
        }
    }
    footer {
        color: var(--white);
        nav {
            ul:last-child {
                a {
                    color: var(--dark-footer-transparent-white);
                }
            }
        }
        > div {
            color: var(--dark-footer-transparent-white);
        }
    }
}
