header {
    position: relative;

    > img {
        width: 100%;
    }
}

#header-container {
    position: absolute;
    top: 0;

   .top-right a, .top-right > details {
        background-color: rgba(0, 0, 0, 0.4);
   }
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0 , 0, 0));
   background-size: auto 72px;
   background-repeat: no-repeat;
}

body {
    main  {
        color: white;
        a {
            border-bottom: 2px solid rgba(255, 255, 255, .5);
        }
    }

    hr {
        background-color: var(--happy);
    }
}
