header {
    background-image: none;

    > img {
        width: 100%;
    }
}

#header-container {
   .top-right a, .top-right > details {
        background-color: rgba(0, 0, 0, 0.4);
   }
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0 , 0, 0));
   background-size: auto 72px;
   background-repeat: no-repeat;
}

body {
    background-image: url("../img/background_grain_opt.png");
    color: white;

    main  {
        a {
            border-bottom: 2px solid rgba(255, 255, 255, .5);
        }
    }

    footer {
        background-color: rgba(0, 0, 0, 0.1);
        .footer-right {
            color: rgba(255, 255, 255, 0.45);
        }
        p a {
            color: rgba(255, 255, 255, 0.45);
        }
    }

    hr {
        background-color: var(--happy);
    }
}
