body {
    background-image: url("../img/background_grain_opt.png");
}

main {
    color: var(--white);
    max-width:1400px;
    width: 100%;
    #species-masonry {
        display: flex;

        > div {
            display: flex;
            flex-direction: column;
        }
        a {
            display:inline-block;
            > div {
                display: flex;
            }
            svg {
                width: 24px;
                height: 24px;
                margin: 24px 10px 0 0;
            }
            p {
                font-style: italic;
                color: var(--grey);
                margin: 0;
            }
            h5 {
                margin: 8px 0 0 0;
            }
            img {
                display: inline;
                margin: 0;
            }
            padding: 16px;
        }

        a:hover {
            color: var(--happy);
            p {
                color: var(--happy);
            }
            svg {
                fill: var(--happy);
                stroke: var(--happy);
            }
        }
    }
}
