main {
    max-width: 1400px;
    color: var(--white);
    padding-top: 0px;
    #species-masonry {
        display: flex;

        > div {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }
    form {
        display: flex;
        align-items: flex-end;
        column-gap: var(--half-pad);
        justify-content: center;
        padding-bottom: var(--default-pad);
        label {
            display: flex;
            cursor:pointer;
        }
        input[type="submit"] {
            display: none;
        }
        input[type="search"], select {
            width: 100%;
            max-width: 400px;
            font-size: var(--font-size-big);
            color: var(--white);
            background: none;
            border-top-style: none;
            border-left-style: none;
            border-right-style: none;
            border-bottom-style: solid;
            border-bottom-width: var(--border-bottom-width);
        }
        option {
            color: var(--black);
            background: var(--white);
        }
        input::placeholder {
            color: var(--white);
        }
        input:focus {
            outline: none;
            border-bottom-color: var(--white);
        }
    }
}
#selected-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: var(--half-pad);
    margin: 0 var(--half-pad) var(--half-pad) var(--half-pad);
    div {
        display: flex;
        column-gap: 8px;
        align-items: center;
        background-color: var(--relax);
        border-radius: var(--small-radius);
        padding: 4px 8px;
        cursor: pointer;
    }
    p {
        margin: 0;
    }
    p:only-child {
        display: none;
    }
}
