#species-masonry {
    a {
        display:inline-block;
        > div {
            display: flex;
        }
        svg {
            width: 24px;
            height: 24px;
            margin: 24px 10px 0 0;
        }
        p {
            font-style: italic;
            color: var(--grey);
            margin: 0;
        }
        h5 {
            margin: 8px 0 0 0;
        }
        padding: var(--half-pad);
        margin-bottom: var(--half-pad);
    }
    
    a:hover {
        color: var(--happy);
        p {
            color: var(--happy);
        }
        svg {
            fill: var(--happy);
            stroke: var(--happy);
        }
    }
}
