.header-title {
    > p {
        opacity: .5;
    }
}
.main-container {
    padding: var(--default-pad);
}
main  {
    max-width: 1000px;
    border-radius: var(--normal-radius);
    background-color: white;
    margin: 0 auto 0 auto;
    box-shadow: var(--shadow);
    padding: 0;

    #detail-header {
        padding: var(--default-pad);
        display: flex;
        justify-content: flex-start;
        gap: var(--half-pad);
        > div {
            display: flex;
            flex-direction: column;
            h4 {
                color: var(--grey);
                margin: 0;
                line-height: var(--line-height-regular);
                font-size: var(--font-size-regular);
                font-style: italic;
            }
            h5 {
                margin: 0;
                color: var(--fun);
                font-style: italic;
                font-weight: 400;
                font-size: var(--font-size-regular);
                line-height: var(--line-height-regular);
            }
            h2 {
                font-size: var(--font-size-h1);
                line-height: var(--line-height-h1);
                font-weight: 900;
                margin: 0;
            }
            div {
                padding-top: var(--half-pad);
                display: flex;
                justify-content: flex-start;
                gap: var(--half-pad);
                a {
                    color: var(--chill);
                    height: calc(var(--font-size-regular) * 2);
                    font-size: var(--font-size-regular);
                    line-height: var(--font-size-regular);
                    border-radius: calc(var(--font-size-regular) / 50%);
                    padding: calc(var(--font-size-regular) / 2 - 2px) calc((var(--font-size-regular) / 2 - 2px) * 2);
                    border: 2px solid;
                    font-weight: var(--font-weight-bold);
                }
                button.mini-audio svg {
                    height: calc(var(--font-size-regular) * 2);
                    width: calc(var(--font-size-regular) * 2);
                }
            }
        }
        img {
            max-width: 160px;
        }
    }
    #obs-info {
        > svg {
            width: 48px;
            height: auto;
            fill: var(--black);
            stroke: var(--black);
            stroke-width: 0px;
        }
        h3 {
            font-size: var(--font-size-h4);
            line-height: var(--line-height-h4);
        }
        background-color: var(--mild);
        display: grid;
        grid-column-gap: var(--default-pad);
        padding: var(--default-pad);
        align-items: center;
        grid-template-columns: 48px 1fr;

        > .boxes, > p {
            grid-column-start: var(--observation-start-column);
            grid-column-end: 3;
        }
        > .boxes {
            display: flex;
            flex-direction: var(--observation-boxes-flex-direction);
            gap: var(--default-pad);
        }
        
        .plausible {
            flex: 1;
            background-color: var(--white);
            border-radius: var(--normal-radius);
            box-shadow: var(--shadow);
            padding: var(--default-pad);
            
            h4 a {
                font-size: var(--font-size-small);
                color: var(--chill);
                font-weight: 400;
            }
            
            p {
                font-size: var(--font-size-small);
                line-height: var(--line-height-small);
            }
            
            .extra-info {
                color: var(--chill);
                
                svg {
                    fill: var(--chill);
                    stroke: var(--chill);
                    stroke-width: 0px;
                    width: 1.2em;
                    height: 1.2em;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
            
            .matched-species {
                display: flex;
                flex-wrap: nowrap;
                gap: 8px;
                .bold {
                    font-weight: var(--font-weight-bold);
                }
                .blue {
                    color: var(--chill);
                }
                .italic {
                    font-style: italic;
                }
                > :last-child {
                    margin-left: auto
                }
                div {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    #faq {
        grid-template-columns: 48px 1fr;
        display: grid;
        grid-column-gap: var(--default-pad);
        padding: var(--default-pad);
        h3 {
            margin-top: 0;
            grid-column-start: 1;
            grid-column-end: calc(var(--observation-start-column) - 1);
        }

        > div {
            grid-column-start: var(--observation-start-column);
            grid-column-end: 3;
        }
        details summary {
            font-size: var(--font-size-big);
            line-height: var(--line-height-big);
            cursor: pointer;
            margin-bottom: var(--line-height-regular);
        }
        details[open] summary {
            margin-bottom: 0;
        }
        details p {
            margin-top: 0;
        }
        summary::marker {
            color: var(--chill);
        }
    }
}
