header {
    background-image: url("../img/background_grain_opt.png");
    padding: 64px;

    p:first-of-type {
        color: var(--happy);
        font-weight: 900;
        font-size: var(--font-size-h3);
        line-height: var(--line-height-h3);
    }

    p:last-of-type {
        font-style: italic;
        font-size: var(--font-size-regular);
        line-height: var(--line-height-regular);
        opacity: .5;
    }

    svg {
        fill: var(--happy);
        stroke: var(--happy);
        stroke-width: 0px;
    }
}

body {
    background-image: url("../img/background_grain_opt.png");
    color: white;

    footer {
        background-color: rgba(0, 0, 0, 0.1);
        .footer-right {
            color: rgba(255, 255, 255, 0.45);
        }
        p a {
            color: rgba(255, 255, 255, 0.45);
        }
    }

    main {
        max-width: 1400px;
        margin: 0px auto;
        background-color: white;
        border-radius: 8px;
        width: 1000px;
        color: var(--black);
        padding: 0;

        > section {
            padding: 75px 75px 0;
            h2:first-of-type {
              margin-top: 0;
            }
        }

        > section.grid-1-2 {
            display: grid;
            column-gap: 64px;
            row-gap: 32px;
            grid-template-columns: 1fr 2fr;
        }

        > section.grid-2-1 {
            display: grid;
            column-gap: 64px;
            row-gap: 32px;
            grid-template-columns: 2fr 1fr;
        }

        > section.grid-2-3 {
            display: grid;
            column-gap: 64px;
            row-gap: 0;
            grid-template-columns: 2fr 3fr;
        }

        > section.gtk {
            ul {
                padding: 0;
                list-style: none;
                li {
                    border-left: 3px var(--chill) solid;
                    padding-left: 20px;
                    margin-bottom: var(--line-height-regular);
                }
            }
        }

        > section.features {
            background: var(--mild);

            > div {
                flex: 1;
                ul {
                    list-style: none;
                    padding: 0;
                }

                a {
                    display: block;
                    box-shadow: var(--shadow);
                    border-radius: 8px;
                    padding: 20px;
                    background-color: white;
                    margin-bottom: 20px;
                }

                a:hover {
                    box-shadow: var(--shadow-hover);
                }

                img {
                    width: 80px;
                    height: auto;
                    border-radius: 4px;
                }
            }

            .audio {
                color: white;
                background-color: var(--relax);
                border-radius: 8px;
                padding: 16px;
                box-shadow: var(--shadow);
                font-weight: 700;
                margin-bottom: 8px;

                audio {
                    display: none;
                }

                div:first-of-type {
                    display: flex;
                    align-items: flex-start;
                    gap: 8px;

                    div {
                        display: flex;
                        flex-direction: column;
                    }

                    button {
                        background: none;
                        border: none;
                        font-size: var(--font-size-big);
                        svg {
                            width: 48px;
                            height: 48px;
                        }
                    }
                }

                .audio__spectrogram_container {
                    position: relative;
                    margin-top: 8px;

                    img {
                        opacity: 0.75;
                        width: 100%;
                        margin-bottom: 0;
                    }
                    .audio__spectrogram_container__cover {
                        position: absolute;
                        left: 0;
                        top: 0;
                        overflow: hidden;
                        height: 100%;
                        img {
                            height: 100%;
                            width: auto;
                            opacity: 1;
                        }
                    }
                }

                .audio__time {
                    display: flex;
                    justify-content: space-between;
                    font-size: var(--font-size-small);
                }

                h3, p {
                    margin: 0;
                    padding: 0;
                }

                h3 {
                    font-size: var(--font-size-regular);
                    line-height: var(--line-height-regular);
                }

                p {
                    font-size: var(--font-size-super-small);
                    line-height: var(--line-height-super-small);
                    opacity: .5;
                }
            }
        }

        > section.sources {
            padding: 25px 75px 75px;
            display: block;
            background: var(--mild);
            border-radius: 0 0 8px 8px;
            > div {
                columns: 3;
                column-fill: balance;
                p {
                    -webkit-column-break-inside: avoid;
                    page-break-inside: avoid;
                    break-inside: avoid;
                    overflow-wrap: break-word;
                    margin-top: 0;

                    a {
                        color: var(--relax);
                        text-decoration: underline;
                    }
            }
        }
    }
}

.portrait-img {
    display: flex;
    flex-direction: column;

    font-size: var(--font-size-super-small);
    line-height: var(--line-height-super-small);

    color: var(--grey);
    margin: 0;

    a {
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
        color: var(--black);
    }

    img {
        border-radius: 4px;
        max-width: 100%;
        height: auto;
        margin-bottom: 0;
    }
}