html {
    font-family: Lato,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h5 {
    font-size: 19px;
    line-height: 27px;
}

body {
    margin: 0;
}

header {
    position: relative;
    background-image: url("../img/background_grain_opt.png");
    text-align: center;
    padding: 96px 15% 64px;
    color: white;
}

.brick {
    width: 29px;
    height: 6px;
    border: none;
    margin: 64px auto;
    margin-top: 48px;
    margin-bottom: 32px;
}

.brick-orange {
    background-color: #ffcf4a;
}

.brick-blue {
    background-color: #2f99c6;
}

.column-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    -moz-column-gap: 32px;
    column-gap: 32px;
    row-gap: 32px;
}

.card {
    border-radius: 8px;
    background-color: gray;
}

.home {
    position: absolute;
    top: 16px;
    left: 16px;
}

.menu {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
}

.person-card {
    img {
        width: 100%;
    }
}