html {
    font-family: Lato,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
    margin: 0;
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h5 {
    font-size: var(--font-size-big);
    line-height: var(--line-height-big);
}

header {
    position: relative;
    background-image: url("../img/background_grain_opt.png");
    color: white;
    text-align: center;

    .bottom-mid {
        padding: 96px 15% 64px;
    }

    h1 {
        font-size: var(--font-size-jumbo);
        line-height: var(--line-height-jumbo);
        white-space: nowrap;
    }

    a, details {
        display: flex;
        align-items: center;

        padding: 0 8px;

        color: inherit;
        text-decoration: none;

        background: none;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 4px;
    }

    a:hover, details:hover {
        border-color: rgba(255, 255, 255, 0.4);
    }

    a:active, details:active {
        border-color: white;
    }

    a.active {
        border-color: white;
    }

    details {
        position: relative;

        > summary {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
        }

        > summary::marker {
            display: none;
        }

        nav {
            position: absolute;
            top: 100%;
            right: 0;

            margin-top: 14px;
            min-width: max-content;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
    }
}

header.home {
    background-image: none;
    padding: 0;

    > img {
        width: 100%;
    }

    div a, div details {
        background: rgba(0, 0, 0, 0.4);
    }

    .bottom-mid {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

hr {
    width: 29px;
    height: 6px;
    border: none;
    margin: 64px auto;
    margin-top: 48px;
    margin-bottom: 32px;
    background-color: #2f99c6;
}

header hr {
    background-color: #ffcf4a;
}

.top-right {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    gap: 10px;
    height: 40px;

    .initial-zoomed {
        color: var(--zoomed-color);
        font-size: var(--font-size-small);
    }

    .initial-unzoomed {
        color: var(--unzoomed-color);
        font-size: var(--font-size-big);
    }
}

.top-left {
    position: absolute;
    top: 16px;
    left: 16px;

    display: inline-flex;
    align-items: center;
    padding: 17px 24px;

    h5 {
        font-size: var(--font-size-big);
        line-height: var(--font-size-big);
        margin: 0 0 0 8px;
    }

    img {
        height: 19px;
        margin: 0;
    }
}

svg {
    fill: #fff;
    stroke: #fff;
    stroke-width: 0px;
}

.three-column {

    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 10px 15px -3px #0000001a,0 4px 6px -2px #0000000d,0 -2px 8px #4f4f4f0d;
        margin-bottom: 32px;
    }

    grid-template-columns: repeat(3, 1fr);
    display: grid;
    column-gap: var(--gutterwidth);
    row-gap: var(--gutterwidth);
}