{% extends "web/page_base.html" %}

{% load static web_tags %}

{% block title %}Kontakt{% endblock %}
{% block header_title %}
<h1>Kontakt</h1>
{% endblock %}

{% block content %}
<main class="columns-2">
    {% img "maps_Karte_6912873a82.jpg" widths='225w,500w,750w' sizes="(max-width: 400px) 500px, (max-width: 767px)
    750px" %}
    <div>
        <p><strong>Wir verbessern die Web-Seite und App immer weiter.</strong></p>
        <p>Schreib uns die Fehler.</p>
        <p>Schreib uns deine Ideen.</p>
        <p>Wir freuen uns darüber.</p>
        <p><strong><a href="https://survey.naturkundemuseum-berlin.de/de/node/632">Klicke hier </a></strong> und schreib
            uns
            deine Ideen.</p>
        <p><strong>Natur-Blick Team</strong>
            <br>Museum für Natur-Kunde Berlin
            <br>Leibniz-Institut für Evolutions- und Biodiversitäts-Forschung
            <br>Invaliden-Straße 43
            <br>10115 Berlin</p>
    </div>
</div>
{% endblock %}
