{% extends "web/page_base.html" %}

{% load static web_tags %}

{% block title %}So kannst du die Internet-Seite bedienen{% endblock %}

{% block header_title %}
<h1>So kannst du die Internet-Seite bedienen</h1>
{% endblock %}

{% block content %}
<main class="text-container">

  <p>Auf der Start-Seite findest du oben links unser Logo.</p>
  <p>Mit einem Klick auf das Logo</p>
  <p>kommst du immer wieder zurück zur Start-Seite.</p>
  <img src="{% static 'web/img/naturblick_logo_descriptive.png'%}" style="width: auto;"/>
  <p>Oben rechts ist das Menü.<p>
  <p>Alle Themen-Bereiche von der Start-Seite</p>
  <p>kannst du auch über das Menü finden.</p>
  <img src="{% static 'web/img/menu_descriptive.png'%}" style="width: auto;"/>
  <p>Auf der Start-Seite siehst du auch die ersten Tiere und Pflanzen.</p>
  <p>Klickst du auf eine Kachel?</p>
  <p>Dann kommst du zu dem Art-Porträt über das Tier oder die Pflanze.</p>

  <p>Möchtest du die App Naturblick auf dein Handy laden?</p>
  <p>Auf der Start-Seite findest du auch die Links zu den App-Stores von</p>
  <p>Google und Apple.</p>
  <div style="columns: 2;">
    <a href="https://play.google.com/store/apps/details?id=com.mfn_berlin_stadtnatur_entdecken.naturblick&hl=de">{% img "appstore_klein_8df243dbe5.jpg" widths='245w,400w,800w,1200w' sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, (max-width: 1023px) 1200px, 800px" %}</a>
    <a href="https://apps.apple.com/de/app/naturblick/id1206911194">{% img "large_appstore_klein_917e71dd30_eb20a50221.jpg" widths='245w,400w,800w' sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, 800px" %}</a>
  </div>
</main>
{% endblock %}
