{% extends "web/page_base.html" %}

{% load static web_tags %}

{% block dels %}{% endblock %}

{% block header_title %}
<div class="header-title">{% group_svg portrait.species.group %}
    <p>{{ portrait.species.sciname }}</p>
    <h1>{{ species_name }}</h1>
    <p>{{ additional_name }}</p></div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'web/css/portrait.css' %}">
<link rel="stylesheet" href="{% static 'web/css/audio.css' %}">
{% endblock %}

{% block content %}
<main>
    {% include "partials/portrait_section.html" with img_meta=portrait.descmeta title="Beschreibung" descriptions=descriptions class="grid-1-2" only %}

    {% include "partials/features_section.html" %}

    {% if portrait.inthecitymeta %}
    {% include "partials/portrait_section.html" with img_meta=portrait.inthecitymeta title="In der Stadt" descriptions=inthecity  class="grid-1-2" only %}
    {% endif %}

    {% if goodtoknows %}
    {% include "partials/portrait_goodtoknow.html" with img_meta=portrait.funfactmeta title="Wissenswertes" goodtoknows=goodtoknows only %}
    {% endif %}

    {% include "partials/portrait_sources.html" with sources=sources only %}
</main>
{% endblock %}
