{% extends "web/page_base.html" %}

{% load static web_tags %}

{% block header_title %}
    <h3>{{ portrait.species.sciname }}</h3>
    <h1>{{ portrait.species.gername }}
    <p>{{ additional_name }}</h1>
{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'web/css/portrait.css' %}">{% endblock %}

{% block content %}
{% include "partials/portrait_section.html" with img_meta=portrait.descmeta title="Beschreibung" descriptions=descriptions only %}

{% include "partials/features_section.html" %}

{% if portrait.inthecitymeta %}
{% include "partials/portrait_section.html" with img_meta=portrait.inthecitymeta title="In der Stadt" descriptions=inthecity only %}
{% endif %}

{% if goodtoknows %}
{% include "partials/portrait_goodtoknow.html" with img_meta=portrait.funfactmeta title="Wissenswertes" goodtoknows=goodtoknows only %}
{% endif %}

{% include "partials/portrait_sources.html" with sources=sources only %}
{% endblock %}
