{% extends "web/page_base.html" %}

{% load static web_tags %}

{% block dels %}{% endblock %}
{% block lang %}{% inline_svg 'lang_en.svg' %}{% endblock %}
{% block title %}Imprint{% endblock %}
{% block header_title %}
<h1>Imprint</h1>
{% endblock %}

{% block content %}
<div class="text-container">
    <p>Museum für Naturkunde
        <br>Leibniz Institute for Evolution and Biodiversity Science
        <br>Invalidenstraße 43
        <br>10115 Berlin, Germany</p>
    <p>Landesunmittelbare rechtsfähige Stiftung des öffentlichen Rechts</p>
    <p>phone: +49 (0)30 889140-8591
        <br>fax: +49 (0)30 889140-8561</p>
    <p>email: info(at)mfn.berlin
        <br>website: <a href="https://www.museumfuernaturkunde.berlin/en">https://www.museumfuernaturkunde.berlin/en</a>
    </p>
    <p><strong>Authorized representative person</strong>
        <br>Prof. Johannes Vogel, PhD (Director General)
        <br>Stephan Junker (Managing Director)</p>
    <p><strong>Controlling authority</strong>
        <br>Senatskanzlei – Wissenschaft und Forschung
        <br>Warschauer Str. 41-42, 10243 Berlin</p>
    <p><strong>Content responsiblity (German law § 55 Abs. 2 RStV)</strong>
        <br>Ulrike Sturm</p>
    <p><strong>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz</strong>
        <br>DE262426477
        <br>Bankverbindung
        <br>Berliner Bank AG
        <br>Konto-Nummer: 512 087 800
        <br>Bankleitzahl: 100 708 48
        <br>IBAN: DE40 1007 0848 051 2087 800
        <br>BIC/SWIFT: DEUTDEDB1</p>
    <p>Cover picture: © Torben Geeck</p>
    <p><strong>Addtional Regulations</strong></p>
    <p><strong>Copyright</strong>
        <br>All content, images and graphics are protected by copyright and may only be used with the written permission
        of the respective copyright holder.
        <br>The operators of this website always endeavor to respect the copyrights of others or to use their own or
        license-free works.
        <br> The content and works created by the site operators on these pages are subject to German copyright law.
        Contributions by third parties are marked as such. Duplication, processing, distribution and any form of
        commercialization of such material beyond the scope of the copyright law shall require the prior written consent
        of its respective author or creator. Downloads and copies of this site are only permitted for private,
        non-commercial use.</p>
    <p><strong>Disclaimer</strong>
        <br>The contents of our pages have been created with the greatest care. However, we cannot accept any liability
        for the accuracy, completeness and up-to-dateness of the content.
        <br>As a service provider, we are responsible for our own content on these pages in accordance with § 6 Para.1
        MDStV and § 7 Para.1 TMG (German Telemedia Act). However, service providers are not obliged to monitor
        third-party information transmitted or stored by them or to investigate circumstances that indicate illegal
        activity. Obligations to remove or block the use of information in accordance with general legislation remain
        unaffected by this. However, liability in this respect is only possible from the time of knowledge of a specific
        infringement. As soon as we become aware of such infringements, we will remove this content immediately.</p>
    <p><strong>General disclaimer</strong>
        <br>In addition to the points set out above, the general <a href="https://www.disclaimer.de/disclaimer.htm">disclaimer</a>
        applies to all pages of this website.
        <br>© Museum of Natural History Berlin</p>
</div>
{% endblock %}
