{% extends "web/page_base.html" %}

{% load static i18n web_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'web/css/home.css' %}">
<link rel="stylesheet" href="{% static 'web/css/masonry.css' %}">
{% endblock %}
{% block title %}Naturblick{% endblock %}

{% block header_title %}
<h1>Naturblick in Leichter Sprache</h1>
<p>Unsere App für dein Handy hilft dir Tiere und Pflanzen zu erkennen.</p>
{% endblock %}

{% block img %}
{% img "Header_2023_klein_beschnitten_belichted_7cca538a55.jpg" widths='245w,400w,800w,1200w' sizes="(max-width: 400px) 400px(max-width: 767px) 800px, (max-width: 1023px) 1200px" %}
{% endblock %}

{% block content %}
<main class="content-container">
    <section class="species-section">
        <div id="species-masonry">
        {% for id, img_url, width, height, group, name, sciname in species %}
        {% include "partials/masonry_tile.html" %}
        {% endfor %}
        </div>
    </section>
    <hr>
    <section class="columns-1">
        <div class="dels-text">
        <p>Herzlich willkommen bei Naturblick.</p>
        <p>Du bist hier in unserem Leichte-Sprache-Angebot.</p>
        <p>Alle Menschen sollen unsere Texte gut verstehen können.</p>
        <p>Darum haben wir auch Informationen in Leichter Sprache.</p>
        <p>Bei der Leichten Sprache erklären wir</p>
        <p>zum Beispiel schwierige Wörter.</p>
        <p>Und wir trennen lange Wörter.</p>
        <p>Zum Beispiel schreiben wir Internet-Seite.</p>
        <p>Dann können viele Menschen den Text leichter lesen.</p>
        <p>Die Texte in Leichter Sprache sind für alle Menschen.</p>
        <p>Aber besonders gut sind sie für:</p>

        <ul>
        <li>Menschen mit Lern·schwierigkeiten</li>
        <li>Menschen, die <strong>nicht</strong> gut Deutsch können</li>
        <li>Menschen, die <strong>nicht</strong> gut lesen können.</li>
        </ul>
        <p><br><br>
        In diesem Text stellen wir kurz vor:</p>

        <ol>
        <li>Was ist Naturblick?</li>
        <li>Welche Informationen findest du auf der Internet-Seite?
        <br><br>
        <br><br></li>
        </ol>
            </div>

        <div class="dels-text">
            <p><strong>1. Was ist Naturblick?  </strong></p>
        <p>Naturblick ist ein Projekt vom Museum für Naturkunde Berlin.</p>
        <p>Wir wollen mit dem Projekt allen Menschen zeigen:</p>
        <p>So toll ist Natur in der Stadt.</p>
        <p>Und wir wollen Menschen helfen, Natur zu erleben.</p>
        <p>Darum haben wir eine App gemacht.</p>
        <p>Die App heißt Naturblick.</p>
        <p>Mit der <a href="https://hurraki.de/wiki/App">App</a> kannst du Tiere und Pflanzen erkennen.</p>
        <p>Zum Beispiel:</p>
        <p>Du kannst ein Foto von einer Pflanze machen.</p>
        <p>Dann zeigt dir die App den Namen von der Pflanze.</p>
        <p>Du kannst den Gesang von einem Vogel aufnehmen.</p>
        <p>Dann zeigt dir die App den Namen von dem Vogel.</p>
        <p>Die App ist <strong>nicht</strong> in Leichter Sprache.
        <br><br>
        <br><br></p>
        </div>

        <div class="dels-text">
            <p><strong>2. Welche Informationen gibt es auf der Internet-Seite?</strong></p>
        <p>Auf unserer Webseite haben wir die Artportraits in leichter Sprache übersetzt.</p>
        <p><br><br>
        <strong>Art-Porträts</strong></p>
        <p>Mit Art-Porträt meinen wir hier:</p>
        <p>Wir stellen euch verschiedene <strong>Pflanzen-Arten</strong> und <strong>Tier-Arten</strong> vor.</p>
        <p>Dafür beschreiben wir:</p>
        <p>So sieht die Pflanze oder das Tier aus.</p>
        <p>Und wir haben auch interessante Fakten über die Tiere und Pflanzen.</p>
        <p>Zum Beispiel:</p>
        <p>Ist die Pflanze oder das Tier in Deutschland gefährdet?</p>
        <p>Damit ist gemeint:</p>
        <p>Gibt es nur noch sehr wenige davon in Deutschland?</p>
        <p><a href="https://naturblick.museumfuernaturkunde.berlin/species/portrait;view=grid?lang=dels">Klicke hier um zu den Artporträts zu kommen</a>
        <br><br></p>
        </div>

        <div class="dels-text">
            <p><br><br>
        <strong>3. Wir möchten erklären:</strong></p>
        <p>So kannst du die Internet-Seite bedienen.</p>
        <p>Dafür haben wir einen Text in Leichter Sprache geschrieben.</p>
        <p>Den Text findest du hier: <a href="https://naturblick.museumfuernaturkunde.berlin/delsbedienung?lang=dels">So kannst du die Internet-Seite bedienen</a>
        <br><br></p>
        </div>

        <div class="dels-text">
            <p><br><br>
        Möchtest du die App Naturblick auf dein Handy laden?</p>
        <p>Hier findest du die Links zu den App-Stores von </p>
        <p>Google und Apple.
        <br><br></p>
        </div>
    </section>

    <section class="columns-2">
        <div>
            {% img "appstore_klein_8df243dbe5.jpg" widths='245w,400w,800w,1200w' sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, (max-width: 1023px) 1200px, 800px" %}
            {% include "partials/card.html" with title="Naturblick im Playstore" subtitle="Lade die App für Android" link_text="Klicke hier für den Download im Playstore" url="https://play.google.com/store/apps/details?id=com.mfn_berlin_stadtnatur_entdecken.naturblick&hl=de" %}
        </div>

        <div>
            {% img "large_appstore_klein_917e71dd30_eb20a50221.jpg" widths='245w,400w,800w' sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, 800px" %}
            {% include "partials/card.html" with title="Naturblick im Appstore" subtitle="Lade die App für iOS" link_text="Klicke hier für den Download im Appstore" url="https://apps.apple.com/de/app/naturblick/id1206911194" %}
        </div>
    </section>
</main>
<hr>
{% endblock %}
