{% extends "web/page_base.html" %}

{% load static i18n web_tags %}

{% block title %}Naturblick{% endblock %}
{% block page_title %}Naturblick in Leichter Sprache{% endblock %}

{% block subtitle %}<p>Unsere App für dein Handy hilft dir Tiere und Pflanzen zu erkennen.</p>{% endblock %}

{% block img %}
    {% img "Header_2023_klein_beschnitten_belichted_7cca538a55.jpg" widths='245w,400w,800w,1200w' sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, (max-width: 1023px) 1200px" %}
{% endblock %}

{% block content %}
    <div class="columns">
        <div>
            {% img "Naturblick_Screen_klein_32cca05fc4.jpg" widths='245w,400w,800w' sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, 800px" %}
            {% include "partials/card.html" with title="Über die App" subtitle="Mit Naturblick kannst du Tiere und Pflanzen einfach bestimmen und mehr über die Natur in deiner Nachbarschaft erfahren." link_text="Erfahre mehr über die App" path_name="mobileapp" %}
        </div>

        <div>
            {% img "medium_140926_science_slam_012_fassade_ccarola_radke_mfn_3325ebcc62_75b5a3de46.jpg" widths='208w,400w' sizes="(max-width: 400px) 400px" %}
            {% include "partials/card.html" with title="Über uns" subtitle="Wir sind ein interdisziplinäres Team und forschen zu Mensch-Natur-Beziehungen und digitalen Werkzeugen für die Naturerfahrung." link_text="Erfahre mehr über uns" path_name="about" %}
        </div>

        <div>
            {% img "large_Unbenannt_9_5cdfe5cd44_f029cab684.jpeg" widths='208w,400w,800w' sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, 800px" %}

            {% include "partials/card.html" with title="Häufige Fragen" subtitle="Hier findest du Antworten auf deine wichtigsten Fragen." link_text="Lese hier Antworten auf deine Fragen" path_name="faq" %}
        </div>
    </div>

    <hr>

    <div class="columns">
        <div>
            {% img "appstore_klein_8df243dbe5.jpg" widths='245w,400w,800w,1200w' sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, (max-width: 1023px) 1200px, 800px" %}
            {% include "partials/card.html" with title="Naturblick im Playstore" subtitle="Lade die App für Android" link_text="Klicke hier für den Download im Playstore" url="https://play.google.com/store/apps/details?id=com.mfn_berlin_stadtnatur_entdecken.naturblick&hl=de" %}
        </div>

        <div>
            {% img "large_appstore_klein_917e71dd30_eb20a50221.jpg" widths='245w,400w,800w' sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, 800px" %}
            {% include "partials/card.html" with title="Naturblick im Appstore" subtitle="Lade die App für iOS" link_text="Klicke hier für den Download im Appstore" url="https://apps.apple.com/de/app/naturblick/id1206911194" %}
        </div>
    </div>

    <hr>
{% endblock %}