{% extends "web/page_base.html" %}

{% load static web_tags i18n l10n %}

{% block js %}
<script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
<script src="{% static 'web/js/audio.js' %}"></script>
<script src="{% static 'web/js/geocode.js' %}"></script>
<script src="{% static 'web/js/moment-with-locales.min.js' %}"></script>
{% endblock %}

{% block css %}
<link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet'/>
<link rel="stylesheet" href="{% static 'web/css/map.css' %}">
<link rel="stylesheet" href="{% static 'web/css/audio.css' %}">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="map" class="map">
    <div id="map-info" class="map-overlay">
        {% block map_info %}{% endblock %}
    </div>
    <div id="map-radio" class="map-overlay">
        <input type="radio" name="group" value="all" checked><label>{% translate "Alle" %}</label><br>
        <input type="radio" name="group" value="tree"><label>{% translate "Bäume" %}</label><br>
        <input type="radio" name="group" value="mammal"><label>{% translate "Säugetiere" %}</label><br>
        <input type="radio" name="group" value="bird"><label>{% translate "Vögel" %}</label>
    </div>
</div>

<script>
    const mfn = [{{ longitude|unlocalize }}, {{ latitude|unlocalize }}];
    const obsProxyTemplate = "{% url 'obs' 0 %}";

    const unclusteredIconSize = 0.7;

    var map = new maplibregl.Map({
        container: 'map',
        style: 'https://tiles.openfreemap.org/styles/bright',
        center: mfn,
        zoom: {{ zoom }},
        cluster: true,
    });

    function clickUnclustered(map, e) {
        const coordinates = e.features[0].geometry.coordinates.slice();
        const obs_id = e.features[0].properties.id;
        const group = e.features[0].properties.group;
        const url = obsProxyTemplate.replace("0", obs_id);

        // Ensure that if the map is zoomed out such that
        // multiple copies of the feature are visible, the
        // popup appears over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
           coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        fetch(url)
            .then(response => response.text())
            .then(html => {
                (async function () {
                    addObsDetailPopup(map, html, coordinates)
                })();
            });
    }

    async function addImage(ident) {
        const url = `{% static '' %}${ident}.svg`;
        const image = new Image();

        const response = await fetch(url);
        svgText = await response.text();

        const svg = 'data:image/svg+xml;charset=utf-8,' + encodeURIComponent(svgText);

        const promise = new Promise((resolve) => {
            image.onload = resolve;
        });
        image.src = svg;
        await promise;
        map.addImage(ident, image);
    }

    async function loadImages() {
        await Promise.all([
            "observation_map",
            "groups/bird_map",
            "groups/tree_map",
            "groups/mammal_map"
        ].map(addImage));
    }

    loadImages();

    async function addObsDetailPopup(map, html, coordinates) {
        window.MAP_BOX_KEY = "{{ MAP_BOX_KEY }}";
        const location = await getLocation(coordinates[1], coordinates[0]);
        html = html.replace('__PLACE__', location);

        {% get_current_language as LANGUAGE_CODE %}
        moment.locale("{{ LANGUAGE_CODE }}");

        const temp = document.createElement('div');
        temp.innerHTML = html;
        const el = temp.querySelector('#obs_popup');
        const obs_date = el.getAttribute("obs-date");

        const when = moment(obs_date).fromNow();
        html = html.replace('__WHEN__', when);

        new maplibregl.Popup({ className: 'map-popup' })
            .setLngLat(coordinates)
            .setHTML(html)
            .addTo(map);

        const audio = document.getElementById('audio')
        init_audio(audio);
    }

    map.on('load', () => {
        map.addSource('observations', {
            type: 'geojson',
            data: '{% url 'map_proxy' %}',
            cluster: true,
            clusterMaxZoom: 22,
            clusterRadius: 50,
            clusterProperties: {
                all_count: ["+", 1],
                tree_count: ["+", ["case", ["==", ["get","group"], "tree"], 1, 0]],
                mammal_count: ["+", ["case", ["==", ["get","group"], "mammal"], 1, 0]],
                bird_count: ["+", ["case", ["==", ["get","group"], "bird"], 1, 0]],
            }
        });

        map.addLayer({
            id: 'cluster-observations',
            type: 'circle',
            source: 'observations',
            filter: ['>', ['get', 'all_count'], 1],
            paint: {
                'circle-color': [
                    'step',
                    ['get', 'point_count'],
                    '#3bb4e7',
                    50, '#12466a',
                    750, '#000000'
                ],
                'circle-radius': 20
            }
        });

        map.addLayer({
            id: 'cluster-count',
            type: 'symbol',
            source: 'observations',
            filter: ['>', ['get', 'all_count'], 1],
            layout: {
                'text-field': ["get", "all_count"],
                'text-font': ['Noto Sans Regular'],
                'text-size': 12
            },
            paint: {
                'text-color': '#ffffff'
            }
        });

        map.addLayer({
            id: 'unclustered-observation-icons',
            type: 'symbol',
            source: 'observations',
            filter: ['!', ['has', 'point_count']],
            layout: {
                'icon-image': [
                    'match',
                    ['get', 'group'],
                    'bird', 'groups/bird_map',
                    'mammal', 'groups/mammal_map',
                    'tree', 'groups/tree_map',
                    'observation_map'
                ],
                'icon-size': unclusteredIconSize,
            }
        });

        map.on('click', 'unclustered-observation-icons', async (e) => {
            clickUnclustered(map, e);
        });

        map.addSource('splited-obs-source', {
            type: 'geojson',
            data: { type: 'FeatureCollection', features: [] }
        });

        map.addLayer({
            id: 'splited-observation',
            type: 'symbol',
            source: 'splited-obs-source',
            layout: {
                'icon-image': [
                    'match',
                    ['get', 'group'],
                    'bird', 'groups/bird_map',
                    'mammal', 'groups/mammal_map',
                    'tree', 'groups/tree_map',
                    'observation_map'
                ],
                'icon-size': unclusteredIconSize,
            }
        });

        map.on('click', 'splited-observation', async (e) => {
            clickUnclustered(map, e);
        });

        map.on("click", "cluster-observations", async (e) => {
          const first_feature = e.features[0];
          var clusterId = first_feature.properties.cluster_id;
          if (!clusterId) return;

          const zoom = await map.getSource("observations").getClusterExpansionZoom(clusterId);
          const zooming = map.easeTo({
            center: first_feature.geometry.coordinates,
            zoom: zoom + 0.5
          });
          if (!zooming._zooming) {
            const leaves = await map.getSource("observations").getClusterLeaves(clusterId);
            const coordinates = first_feature.geometry.coordinates.slice();

            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
               coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            const center = coordinates;
            var step = 0;
            const centerPixel = map.project(center);
            const pixelStep = 45;

            const splited_obs = leaves.map((f, i) => {
                step += 1;
                const newPixel = {
                    x: centerPixel.x,
                    y: centerPixel.y - pixelStep * (i + 1)
                };
                const foo = map.unproject(newPixel)
                return {
                    type: "Feature",
                    geometry: {
                        type: "Point",
                        coordinates: [
                            foo.lng,
                            foo.lat
                        ]
                    },
                    properties: f.properties
                };
            });

            map.getSource('splited-obs-source').setData({
                type: "FeatureCollection",
                features: splited_obs
            });
          }
        });

        function setSplitedObsSourceEmpty() {
            map.getSource('splited-obs-source').setData({
                type: "FeatureCollection",
                features: []
            });
        }

        map.on("zoom", () => {
            setSplitedObsSourceEmpty()
        });

        map.on("click", (e) => {
            const features = map.queryRenderedFeatures(e.point, {
                layers: ["splited-observation"]
            });

            if (features.length === 0) {
                setSplitedObsSourceEmpty();
            }
        });

        map.on("mouseenter", ["unclustered-observation-icons", "cluster-observations", "splited-observation"], () => {
          map.getCanvas().style.cursor = "pointer";
        });
        map.on("mouseleave", ["unclustered-observation-icons", "cluster-observations", "splited-observation"], () => {
          map.getCanvas().style.cursor = "";
        });

        map.on("moveend", () => {
            const center = map.getCenter();
            const current = new URL(window.location.href);
            current.searchParams.set("lat", center.lat);
            current.searchParams.set("lng", center.lng);
            current.searchParams.set("zoomLevel", map.getZoom());
            history.pushState({}, "", current.toString());
        });
    });

    document.querySelectorAll('input[name="group"]').forEach(radio => {
        radio.addEventListener('change', (e) => {
            const group = e.target.value;

            map.setLayoutProperty(
                "cluster-count",
                "text-field",
                ["get", `${group}_count`]
            );

            let filter_property;
            switch (group) {
                case "all":
                    filter_property = 'all_count'
                    break;
                case "tree":
                    filter_property = 'tree_count'
                    break;
                case "mammal":
                    filter_property = 'mammal_count'
                    break;
                case "bird":
                    filter_property = 'bird_count'
                    break;
            }
            let clusterGroupFilter = ['>', ['get', filter_property], 1];
            let unclusteredGroupFilter = group == "all" ? ['!', ['has', 'point_count']] :
                ['all',
                ['!', ['has', 'point_count']],
                ['==', ['get', 'group'], group]];

            map.setFilter('cluster-observations', clusterGroupFilter);
            map.setFilter('cluster-count', clusterGroupFilter);
            map.setFilter('unclustered-observation-icons', unclusteredGroupFilter);
        });
    });
</script>
{% endblock %}

{% block footer %}{% endblock %}
