{% extends "web/page_base.html" %}

{% load static web_tags i18n %}

{% block og %}
{% endblock %}


{% block header_title %}
{% group_svg species.group %}
<p class="scientific-name">{{ species.sciname }}</p>
{%if species_name %}<h1>{{ species_name }}</h1>{% endif %}
{% if redirected_from %}
<p class="redirected-from">{% translate "Weitergeleitet von:" %} <span>{{ redirected_from }}</span></p>
{% endif %}
<p class="wikipedia-link"><a href="{{ wikipedia }}">{% translate "Schaue in Wikipedia nach" %}</a></p>
{%if species_avatar %}<img src="{{species_avatar}}" >{% endif %}
{% endblock %}

{% block js %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'web/css/portrait.css' %}">
{% endblock %}

{% block content %}

{% endblock %}
