{% extends "web/page_base.html" %}

{% load web_tags static %}

{# Not with il8n because there will be an icon in the future #}
{% block lang %}en{% endblock %}

{% block title %}About Naturblick{% endblock %}
{% block page_title %}About Naturblick{% endblock %}

{% block subtitle %}
    <hr class="brick brick-orange">
    With Naturblick you can easily identify plants and animals and learn more about nature in your city.{% endblock %}

{% block content %}

    ==== TODO YOUTUBE ====
    {#    <div class="youtube-container youtube-container--no-consent"><img alt="" src="https://i.ytimg.com/vi/VBVjIRcdsRU/hq720.jpg"><img src="/assets/imgs/yt_icon_mono_light.png" alt="" class="yt-icon"></div>#}

    <p>In total, you can identify over 2500 species with Naturblick. The app offers you three different identification
        tools:</p>

    <ul>
        <li>Take photos of plants and identify them with the automatic pattern recognition. You can currently identify
            <a href="https://naturblick.museumfuernaturkunde.berlin/speciesimagerecognition?lang=en">2180 plant
                species</a>.
        </li>
        <li>Record bird calls and assign them to one of the <a
                href="https://naturblick.museumfuernaturkunde.berlin/speciesaudiorecognition?lang=en">239 bird
            species</a> using the automatic sound recognition.
        </li>
        <li>With the help of the feature selection you can identify many other animal and plant species. These include
            mammals, amphibians, reptiles, butterflies, snails, bees, bumblebees and wasps, but also plant groups such
            as deciduous and coniferous trees, ginkgos, herbs and wildflowers.
        </li>
    </ul>
    <p><br>
        The species portraits provide an overview of characteristic features and interesting facts. In addition, they
        give information about possible confusion species and give details about the species in urban habitats. </p>
    <p>The field book has a special function in the Naturblick app: Here you can save your observations and view them
        again at any time. In addition to your observed species, the date, time and location with coordinates are saved.
        You can also enter the number of observed individuals of a species and make your own notes. Furthermore, you can
        create an account and save your data.</p>


    <img alt="" src={% static 'web/img/Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %}
            srcset="{% static 'web/img/large_Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %} 1200w,
            {% static 'web/img/small_Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %} 400w,
            {% static 'web/img/medium_Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %} 800w,
            {% static 'web/img/thumbnail_Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %} 234w,
    {% static 'web/img/Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %}"
    sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, (max-width: 1023px) 800px, 800px">

    <p>Download the app from the <a
            href="https://play.google.com/store/apps/details?id=com.mfn_berlin_stadtnatur_entdecken.naturblick">Google
        Playstore</a> or <a href="https://apps.apple.com/de/app/naturblick/id1206911194">App Store</a> and discover
        nature in your area.</p>
    <p>Your opinion helps us to further develop Naturblick. Support us by giving us your feedback or try out new
        versions as a beta tester and give us feedback before these updates are made available to the public. Write us
        an e-mail to: naturblick[at]mfn-berlin.de.</p>
    <p>If you would like to be informed about news, such as updates and species groups, you can sign up for the <a
            href="https://berlin.us6.list-manage.com/subscribe?u=7cc783779868ff99f465accff&amp;id=456476dc19">Naturblick
        newsletter</a>.</p>
    <p>If you would like to know what data is collected when you use Naturblick, you can find <a
            href="https://naturblick.museumfuernaturkunde.berlin/faq?lang=en">answers to the most frequently asked
        questions</a> here. If you want to find out more about how we handle your data, you can find <a
            href="https://www.museumfuernaturkunde.berlin/en/general-privacy-notice">information on data protection</a>
        here. For press inquiries and further information, please write to us at naturblick[at]mfn.berlin.</p>


{% endblock %}
