{% extends "web/page_base.html" %}

{% load web_tags static %}

{% block dels %}<a href="{% toggle_dels request %}">Leichte Sprache</a>{% endblock %}

{# Not with il8n because there will be an icon in the future #}
{% block lang %}de{% endblock %}

{% block title %}Über die Naturblick App{% endblock %}
{% block page_title %}Über die Naturblick App{% endblock %}

{% block content %}

    <p>Mit der App
        Naturblick kannst du einfach Tiere und Pflanzen bestimmen.</p>
    <p>Du kannst viel über die Natur in deiner Stadt lernen.</p>
    <p>Mit Naturblick kannst du mehr als 2500 Arten erkennen.</p>
    <p>Die App hat verschiedene Hilfen für dich:</p>

    <p>
        <strong>Fotos:</strong></p>
    <p>Du machst ein Foto von einer Pflanze.</p>
    <p>Die App erkennt die Pflanze automatisch.</p>
    <p>So kannst du 2180 Pflanzen-Arten bestimmen.</p>

    <p><strong>Vogelstimmen:</strong>
    </p>
    <p>Du nimmst den Gesang eines Vogels auf.</p>
    <p>Die App erkennt: Welcher Vogel singt da?</p>
    <p>Es gibt 239 Vogel-Arten in der App.</p>

    <p>
        <strong>Merkmale:</strong></p>
    <p>Du wählst bestimmte Merkmale aus.</p>
    <p>Zum Beispiel die Farbe oder Form.</p>
    <p>Damit kannst du andere Tiere und Pflanzen bestimmen.</p>
    <p>Es gibt viele Gruppen.</p>
    <p>Zum Beispiel:</p>

    <ul>
        <li>Säugetiere wie der Igel</li>
        <li>Amphibien wie der Teich-Frosch</li>
        <li>Reptilien wie die Wald-Eidechse</li>
        <li>Schmetterlinge</li>
        <li>Insekten wie Bienen, Hummeln und Wespen</li>
        <li>Bäume, Kräuter und Wild-Blumen</li>
    </ul>

    <p>
        <strong>Art-Porträts</strong></p>
    <p>Mit Art-Porträt meinen wir hier:</p>
    <p>Wir stellen euch verschiedene Pflanzen-Arten und Tier-Arten vor.</p>
    <p>Dafür beschreiben wir:</p>
    <p>So sieht die Pflanze oder das Tier aus.</p>
    <p>Und wir haben auch interessante Fakten über die Tiere und Pflanzen.</p>
    <p>Zum Beispiel:</p>
    <p>Ist die Pflanze oder das Tier in Deutschland gefährdet?</p>
    <p>Damit ist gemeint:</p>
    <p>Gibt es nur noch sehr wenige davon in Deutschland?</p>

    <p>
        <strong>Feld-Buch</strong></p>
    <p>Mit dem Feld-Buch kannst du deine Beobachtungen speichern:</p>
    <p>Welche Art hast du gesehen?</p>
    <p>Wann und wo hast du sie gesehen?</p>
    <p>Wie viele Tiere oder Pflanzen hast du gesehen?</p>
    <p>Du kannst auch Notizen machen.</p>
    <p>Mache ein Konto in der App.</p>
    <p>Dann sind deine Daten sicher gespeichert.</p>

    <p><strong>Wo gibt es
        die App?</strong></p>
    <p>Du kannst die App im <a
            href="https://play.google.com/store/apps/details?id=com.mfn_berlin_stadtnatur_entdecken.naturblick">App-Store
        von Google</a> oder <a
            href="https://apps.apple.com/de/app/naturblick/id1206911194">Apple</a> herunterladen.
    </p>

    <img alt="" src={% static 'web/img/Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %}
            srcset="{% static 'web/img/large_Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %} 1200w,
            {% static 'web/img/small_Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %} 400w,
            {% static 'web/img/medium_Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %} 800w,
            {% static 'web/img/thumbnail_Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %} 234w,
    {% static 'web/img/Naturblick_klein_fuer_Homepage_51bf8996c7.jpg' %}"
    sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, (max-width: 1023px) 800px, 800px">

    <p><strong>Hast du
        Ideen?</strong></p>
    <p>Möchtest du uns deine Meinung zur App sagen?</p>
    <p>Dann schreibe uns eine E-Mail: naturblick[at]mfn-berlin.de</p>
    <p>Möchtest du immer die neuesten Nachrichten zu der App bekommen?</p>
    <p>Dann kannst du dich für den Newsletter anmelden.</p>
    <p>Wir schicken dir dann immer die neuesten Nachrichten als E-Mail.</p>

    <p><strong>Möchtest du
        wissen:</strong></p>
    <p>Was macht die App mit meinen Daten?</p>
    <p>Dazu haben wir Informationen auf unserer Internet-Seite.</p>
    <p>Die Informationen findest du hier:</p>
    <p><a href="https://naturblick.museumfuernaturkunde.berlin/faq?lang=de">Häufig gestellte
        Fragen</a></p>
    <p><a href="https://naturblick.museumfuernaturkunde.berlin/privacy?lang=de">Datenschutz</a></p>

    <p>Entdecke die Natur
        mit Naturblick!</p>
{% endblock %}
