{% extends "web/page_base.html" %}

{% load static web_tags %}

{% block title %}Über die Naturblick App{% endblock %}

{% block header_title %}
<h1>Über die Naturblick App</h1>
{% endblock %}


{% block subtitle %}
    <hr>
    <p>Mit Naturblick kannst du Pflanzen und Tiere einfach bestimmen und mehr über die Natur in deiner Stadt
    erfahren.</p>{% endblock %}

{% block content %}
<main class="text-container">
    ==== TODO YOUTUBE ====
{#    <div class="youtube-container youtube-container--no-consent"><img alt="" src="https://i.ytimg.com/vi/VBVjIRcdsRU/hq720.jpg"><img src="/assets/imgs/yt_icon_mono_light.png" alt="" class="yt-icon"></div>#}

    <p>Insgesamt kannst du
        mit Naturblick über 2500 Arten bestimmen. Dafür bietet dir die App drei verschiedene
        Bestimmungshilfen:</p>

    <ul>
        <li>Fotografiere Pflanzen und bestimme sie mit der automatischen Mustererkennung. Aktuell
            kannst du <a
                    href="https://naturblick.museumfuernaturkunde.berlin/speciesimagerecognition">2180
                Pflanzenarten</a> bestimmen.
        </li>
        <li>Nehme Vogelstimmen auf und ordne sie mit der automatischen Lauterkennung einer der <a
                href="https://naturblick.museumfuernaturkunde.berlin/speciesaudiorecognition">239
            Vogelarten</a> zu.
        </li>
        <li>Mithilfe der Merkmalsauswahl kannst du viele weitere Tier- und Pflanzenarten bestimmen.
            Dazu gehören Säugetiere, Amphibien, Reptilien, Schmetterlinge, Schnecken, Bienen,
            Hummeln und Wespen aber auch Pflanzengruppen, wie z.B. Laub- und Nadelbäume, Ginkgos,
            Kräuter und Wildblumen.
        </li>
    </ul>
    <p><br>
        Die Artportraits geben einen Überblick über charakteristische Erkennungsmerkmale und
        wissenswerte Fakten. Zusätzlich erhältst du Informationen über mögliche Verwechslungsarten
        sowie Informationen zum Leben der Arten in der Stadt.</p>
    <p>Eine besondere Funktion in der Naturblick-App erfüllt das Feldbuch: Hier kannst du deine
        Beobachtungen speichern und jederzeit wieder anschauen. Zusätzlich zu deiner beobachteten
        Art werden Datum, Uhrzeit und der Standort mit den Koordinaten gespeichert. Außerdem kannst
        du die Anzahl der beobachteten Exemplare einer Art angeben und dir eigene Notizen machen.
        Mache dir einen Account und sichere deine Daten.</p>

        {% img "Naturblick_klein_fuer_Homepage_51bf8996c7.jpg" widths='234w,400w,800w,1200w' sizes="(max-width: 400px) 400px, (max-width: 767px) 800px, (max-width: 1023px) 800px, 800px" %}

    <p>Lade dir die App im
        <a href="https://play.google.com/store/apps/details?id=com.mfn_berlin_stadtnatur_entdecken.naturblick">Google
            Playstore</a> oder <a href="https://apps.apple.com/de/app/naturblick/id1206911194">App
            Store</a> herunter und entdecke die Natur in deiner Umgebung.</p>
    <p>Deine Meinung hilft uns, Naturblick weiterzuentwickeln. Unterstütze uns dabei, indem du uns
        dein Feedback gibst oder als Beta-Tester neue Versionen ausprobierst und uns dazu Feedback
        gibst, bevor diese Updates der Öffentlichkeit zur Verfügung stehen. Schreib uns eine E-Mail
        an: naturblick[at]mfn-berlin.de.</p>
    <p>Wenn Du über Neuigkeiten, wie zum Beispiel Updates und Artgruppen informiert werden möchtest,
        kannst du dich hier für den <a
                href="https://berlin.us6.list-manage.com/subscribe?u=7cc783779868ff99f465accff&amp;id=456476dc19">Naturblick-Newsletter</a>
        anmelden.</p>
    <p>Wenn du wissen möchtest, welche Daten bei der Nutzung von Naturblick erhoben werden, findest
        du hier <a href="https://naturblick.museumfuernaturkunde.berlin/faq">Antworten auf die
            häufigsten Fragen</a> . Wenn du etwas darüber erfahren willst, wie wir mit deinen Daten
        umgehen, findest du hier <a
                href="https://museumfuernaturkunde.berlin/de/datenschutzerklaerung">Informationen
            zum Datenschutz</a>.
        Für Presseanfragen und weitere Informationen schreibe uns gerne unter
        naturblick[at]mfn.berlin.</p>
</main>
{% endblock %}
