{% extends "web/page_base.html" %}

{% load static web_tags i18n l10n %}

{% block js %}
<script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
{% endblock %}

{% block css %}
<link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet'/>
<link rel="stylesheet" href="{% static 'web/css/map.css' %}">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="map" class="map">

    <div id="map-radio" class="map-overlay">
        <input type="radio" name="group" value="all" checked><label>{% translate "Alle" %}</label><br>
        <input type="radio" name="group" value="a_nd"><label>{% translate "Naturdenkmal" %}</label><br>
        <input type="radio" name="group" value="b_spa"><label>{% translate "Special Protected Area" %}</label><br>
        <input type="radio" name="group" value="c_ffh"><label>{% translate "Fauna-Flora-Habitat" %}</label><br>
        <input type="radio" name="group" value="d_np"><label>{% translate "Naturpark" %}</label><br>
        <input type="radio" name="group" value="e_fnd"><label>{% translate "Naturdenkmale Bäume und Findlinge" %}</label><br>
        <input type="radio" name="group" value="f_fspr"><label>{% translate "Flächen mit spezieller Regelung" %}</label><br>
        <input type="radio" name="group" value="g_glb"><label>{% translate "geschützter Landschaftsbestandteil" %}</label><br>
        <input type="radio" name="group" value="h_nsg"><label>{% translate "Naturschutzgebiet" %}</label><br>
        <input type="radio" name="group" value="i_lsg"><label>{% translate "Landschaftsschutzgebiet" %}</label><br>
        <input type="radio" name="group" value="j_br"><label>{% translate "Biosphärenreservat" %}</label><br>
        <input type="radio" name="group" value="k_natp"><label>{% translate "Nationalpark" %}</label>
    </div>
</div>

<script>
    const mfn = [{{ longitude|unlocalize }}, {{ latitude|unlocalize }}];

    var map = new maplibregl.Map({
        container: 'map',
        style: 'https://tiles.openfreemap.org/styles/bright',
        center: mfn,
        zoom: {{ zoom }},
        cluster: false,
    });

    map.on('load', () => {
        map.addSource('naturespots', {
            'type': 'geojson',
            'data': "{% url 'geo_proxy' %}"
        });

        map.addLayer({
            'id': 'naturespots',
            'type': 'fill',
            'source': 'naturespots',
            'layout': {},
            'paint': {
                'fill-color': [
                    'match',
                    ['get', 'schutzstatus'],
                    'a_nd',   '#1b9e77',  // Naturdenkmal (teal green)
                    'b_spa',  '#d95f02',  // Special protected area (orange)
                    'c_ffh',  '#7570b3',  // Fauna-Flora-Habitat (purple)
                    'd_np',   '#e7298a',  // Naturpark (pink)
                    'e_fnd',  '#66a61e',  // Naturdenkmale Bäume und Findlinge (green)
                    'f_fspr', '#e6ab02',  // Flächen mit spezieller Regelung (yellow-orange)
                    'g_glb',  '#a6761d',  // geschützter Landschaftsbestandteil (brown)
                    'h_nsg',  '#1f78b4',  // Naturschutzgebiet (blue)
                    'i_lsg',  '#b2df8a',  // Landschaftsschutzgebiet (light green)
                    'j_br',   '#fb9a99',  // Biosphärenreservat (light red)
                    'k_natp', '#000000',  // Nationalpark (black for emphasis)
                    '#cccccc'
                ],
                'fill-opacity': 0.8
            }
        });
    });

    map.on("click", "naturespots", async (e) => {
          const first_feature = e.features[0];
          console.log(e.features[0].properties.name);
          // get species data from another endpoint
          // e.features[0].properties.id
    });

    map.on("mouseenter", [], () => {
      map.getCanvas().style.cursor = "pointer";
    });

    map.on("mouseleave", [], () => {
      map.getCanvas().style.cursor = "";
    });

    map.on("moveend", () => {
        const center = map.getCenter();
        const current = new URL(window.location.href);
        current.searchParams.set("lat", center.lat);
        current.searchParams.set("lng", center.lng);
        current.searchParams.set("zoomLevel", map.getZoom());
        history.pushState({}, "", current.toString());
    });

    document.querySelectorAll('input[name="group"]').forEach(radio => {
        radio.addEventListener('change', (e) => {
            if (e.target.value == 'all') {
                map.setFilter('naturespots', undefined);
            } else {
                map.setFilter('naturespots', [
                  '==',
                  ['get', 'schutzstatus'],
                  e.target.value
                ]);
            }
        });
    });
</script>
{% endblock %}

{% block footer %}{% endblock %}
