{% extends "web/page_base.html" %}

{% load static i18n web_tags l10n %}

{% block og %}
    {% if jpg_url %}
        {% include "partials/og.html" with title=name description=_("Beobachtung") abs_img_url=request.scheme|add:"://"|add:request.META.HTTP_HOST|add:jpg_url %}
    {% else %}
        {% include "partials/og.html" with title=name description=_("Beobachtung") abs_img_url=request.scheme|add:"://"|add:request.META.HTTP_HOST|add:species_avatar %}
    {% endif %}
{% endblock %}

{% block js %}
<script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
<script>
    window.MAP_BOX_KEY = "{{ MAP_BOX_KEY }}";
</script>
<script src="{% static 'web/js/geocode.js' %}"></script>
<script src="{% static 'web/js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'web/js/mini-audio.js' %}"></script>
<script src="{% static 'web/js/audio.js' %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'web/css/mini-audio.css' %}">
<link rel="stylesheet" href="{% static 'web/css/obs.css' %}">
<link rel="stylesheet" href="{% static 'web/css/audio.css' %}">
<link rel="stylesheet" href="{% static 'web/css/mini-map.css' %}">
{% endblock %}

{% block title %}{% translate "Beobachtung" %}{% endblock %}

{% block header_title %}
{% group_svg group %}
<h1>{% translate "Beobachtung" %}</h1>
<p>CC BY-SA 4.0 {{ cc_name }}</p>
{% endblock %}

{% block content %}
<main>
    <section id="detail-header">
        <img src="{{ species_avatar }}">
        <div>
            <h5>{{ sciname }}</h5>
            <h2>{{ name }}</h2>
            {% if additional_names %}
            <h3>{{ additional_names }}</h3>
            {% endif %}

            <div>
                {% if portrait_audio_url %}
                {% include "partials/mini_audio.html" with id="species-audio" url=portrait_audio_url only %}
                <script>
                  initMiniAudioPlayer("species-audio");
                </script>
                {% endif %}
                <a href="{% url 'portrait' species_id  %}">Artportrait</a>
            </div>
        </div>
    </section>

    <section id="obs-info">
        {% inline_svg 'observation.svg' %}
        <h3 id="seen-by">{{ seen_by }}</h3>

        <div class="boxes {% if assessment %}two-boxes{% endif %}">
          {% include "partials/obs_detail_plausible."|add:language|add:".html" %}

          {% if assessment %}
          {% include "partials/obs_detail_assessment."|add:language|add:".html" %}
          {% endif %}
        </div>

        {% if is_forschungsfall_nachtigall %}
        {% include "partials/obs_detail_nightingale."|add:language|add:".html" %}
        {% endif %}
    </section>
    <section id="faq">
        {% include "partials/obs_detail_faq."|add:language|add:".html" %}
    </section>
</main>

<script>
    const map = new maplibregl.Map({
        container: 'mini-map',
        style: 'https://tiles.openfreemap.org/styles/bright',
        center: {{ coords }},
        zoom: 13,
        interactive: false,
        attributionControl: false
    });

    map.on('load', () => {
        map.addSource('point', {
            type: 'geojson',
            data: {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: {{ coords }}
                }
            }
        });

        map.addLayer({
            id: 'point-circle',
            type: 'circle',
            source: 'point',
            paint: {
                'circle-color': '#3bb4e7',
                'circle-radius': 15,
                'circle-stroke-width': 1,
                'circle-stroke-color': '#fff'
            }
        });
    });
</script>

<script>
(async function () {
  const el = document.getElementById('seen-by');
  {% localize off %}
  const location = await getLocation({{ coords.1 }}, {{ coords.0 }});
  {% endlocalize %}
  el.textContent = el.textContent.replace('__PLACE__', location);
})();
</script>

<script defer>
    const el = document.getElementById('seen-by');
    moment.locale("{{ locale }}");
    const when = moment("{{ js_date_time }}").fromNow();
    el.textContent = el.textContent.replace('__WHEN__', when);
</script>

{% endblock %}
