{% load web_tags %}
{% load i18n static web_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <base href="/">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% for og in og_list %}
        <meta property="{{ og.property }}" content="{{ og.content }}">
    {% endfor %}
    <script src="https://cdn.usefathom.com/script.js" data-spa="auto" data-site="TZBNRXXT" defer></script>
    <link rel="stylesheet" href="{% static 'web/css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/styles.css' %}">

    <script>
        function font_zoom_toggle() {
            const root = document.documentElement;
            const styles = getComputedStyle(root);
            const def = styles.getPropertyValue('--default-font-zoom').trim();
            const zoomed = styles.getPropertyValue('--zoomed-font-zoom').trim();
            const saved = localStorage.getItem('font-zoom');
            let next;
            if ((saved ?? def) === def) {
                next = zoomed
                root.style.setProperty('--zoomed-color', "#ccc");
                root.style.setProperty('--unzoomed-color', "inherit");
            } else {
                next = def
                root.style.setProperty('--font-zoom', next);
                root.style.setProperty('--zoomed-color', "inherit");
                root.style.setProperty('--unzoomed-color', "#ccc");
            }
            root.style.setProperty('--font-zoom', next);
            localStorage.setItem('font-zoom', next);


        }
    </script>
</head>
<body>
<header>

    <a class="top-left" href="{% url 'home' %}{% querystring %}">
        <img src="{% static 'logo.svg' %}">
        <h5>Naturblick</h5>
    </a>

    <div class="top-right">
        {% block dels %}{% include "partials/dels.html" %}{% endblock %}
        <a href="#" onclick="font_zoom_toggle(); return false;">
            <div class="initial-zoomed">A&nbsp;</div>
            <div class="initial-unzoomed">A</div>
        </a>
        <a href="{% toggle_lang request %}">
            {% block lang %}{% inline_svg 'lang_de.svg' %}{% endblock %}</a>
        <details>
            <summary>Menu {% inline_svg 'menu_bars.svg' %}</summary>
            <nav>
                <ul>
                    {#                    <a href="#">Artportraits - todo</a>#}
                    {#                    <a href="#">Beobachtungen mit Naturblick - todo</a>#}
                    <li><a href="{% url 'mobileapp' %}{% querystring %}">{% translate "Über die App" %}</a></li>
                    <li><a href="{% url 'about' %}{% querystring %}">{% translate "Über uns" %}</a></li>
                    <li><a href="{% url 'faq' %}{% querystring %}">{% translate "Häufige Fragen" %}</a></li>
                </ul>
            </nav>
        </details>
    </div>

    <h1>{% block page_title %}{% endblock %}</h1>
    <p>{% block subtitle %}{% endblock %}</p>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <a href="{% url 'kontakt' %}{% querystring %}">{% translate "Kontakt" %}</a>
    <a href="{% url 'privacy' %}{% querystring %}">{% translate "Datenschutz" %}</a>
    <a href="{% url 'imprint' %}{% querystring %}">{% translate "Impressum" %}</a>
    <a href="{% url 'digitalaccessibilitystatement' %}{% querystring %}">{% translate "Digitale Barrierefreiheit" %}</a>
</footer>
</body>
</html>