{% extends "web/page_base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'web/css/plantnetdemo.css' %}">
{% endblock %}

{% block header %}<h1>Plantnetdemo</h1>{% endblock %}

{% block content %}
<form action="/plantnetdemo" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% if observations %}
  <table>
    <caption>
      Image observations
    </caption>
    <thead>
      <tr>
        <th>Date</th>
        <th>Species</th>
        <th>Avatar</th>
        <th>Plantnet</th>
      </tr>
    </thead>
    <tbody>
      {% for observation in observations %}
      <tr>
        <td>{{ observation.created }}</td>
        <td>{{ observation.sciname }}</td>
        <td><img src="{% url 'plantnetimg' observation.thumbnailId %}"></td>
        <td><a href="{% url 'plantnetresults' observation.thumbnailId %}">Identify</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}

