{% extends "web/page_base.html" %}

{% load static %}

{% block title %}Datenschutz{% endblock %}
{% block page_title %}Datenschutz{% endblock %}

{% block content %}
    <p><strong>1. Einleitung</strong>
        <br>Bei der Nutzung unserer Webseite und unserer weiteren Angebote werden personenbezogene Daten erhoben und in
        Datenbanken, Protokolldateien oder anderen Systemen gespeichert. Bei der Verarbeitung der erfassten Daten werden
        die Datenschutzvorschriften von uns konsequent eingehalten.</p>
    <p><strong>2. Name und Anschrift des für die Verarbeitung Verantwortlichen und Kontaktdaten des
        Datenschutzbeauftragten</strong>
        <br>Verantwortlich für die Verarbeitung personenbezogener Daten ist:
        <br>Museum für Naturkunde Berlin
        <br>Invalidenstr. 43
        <br>10115 Berlin</p>
    <p><strong>Geschäftsführer</strong>
        <br>Herr Junker
        <br>Tel.: 030/889140-8798
        <br>E-Mail: stephan.junker[at]mfn.berlin</p>
    <p><strong>Datenschutzbeauftragter des Museums für Naturkunde</strong>
        <br>Tel.: 030/889140-8440
        <br>E-Mail: datenschutz@mfn.berlin</p>
    <p>Für diese Webseite des Museum für Naturkunde Berlin gilt die folgende <a
            href="https://www.museumfuernaturkunde.berlin/de/datenschutzerklaerung">Datenschutzerklärung</a></p>
    <p><strong>Abweichend davon gilt folgendes:</strong></p>
    <p><strong>3. Protokollierung des Besuchs der Internetseiten und des Zugriffs auf Daten und Webdienste</strong>
        <br>Bei Zugriffen auf Internet-Angebote des MfN werden für Datenschutz und Datensicherheit relevante
        Zugriffsdaten über diesen Vorgang in einer Protokolldatei gespeichert. Dafür wird kein Google Analytics
        verwendet. Je nach verwendetem Zugriffsprotokoll beinhaltet der Protokolldatensatz Angaben mit folgenden
        Inhalten:</p>

    <ul>
        <li>IP-Adresse des anfordernden Rechners</li>
        <li>Host-Name der IP-Adresse</li>
        <li>Name der angeforderten Webseite, Datei oder Aktion</li>
        <li>Datum und Uhrzeit der Anforderung</li>
        <li>Übertragene Datenmenge</li>
        <li>Zugriffsstatus des Web-Servers (Datei übertragen, Datei nicht gefunden, Kommando nicht ausgeführt, etc.)
        </li>
        <li>Beschreibung des verwendeten Webbrowsers</li>
        <li>URL von der aus der Zugriff veranlasst wurde.</li>
    </ul>
    <p><br>Die gespeicherten Daten werden ausschließlich zu Zwecken der Identifikation und Nachverfolgung unzulässiger
        Zugriffsversuche oder Zugriffe auf den Web-Server sowie für allgemeine statistische Auswertungen verwendet.
        Profile einzelner Nutzer werden nicht erstellt. Die Auswertung erfolgt durch autorisierte Mitarbeiter des
        Museums für Naturkunde Berlin. Die protokollierten Daten werden bis zu drei Monate gespeichert und alle nicht
        anonymisierten Daten anschließend gelöscht. Die Daten der Protokolldatei werden getrennt von allen durch eine
        betroffene Person angegebenen personenbezogenen Daten gespeichert.</p>

{% endblock %}
