{% extends "web/page_base.html" %}

{% load static web_tags i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'web/css/reset-password.css' %}">
{% endblock %}

{% block title %}{% translate "Setze hier Dein Passwort zurück" %}{% endblock %}

{% block header_title %}
<h1>{% translate "Setze hier Dein Passwort zurück" %}</h1>
{% endblock %}

{% block content %}
<main class="text-container">
  {% if form %}
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value='{% translate "Passwort zurücksetzen"%}'>
  </form>
  {% else %}
  <p>{{ msg }}</p>
  {% endif %}
</main>
{% endblock %}
