{% extends "web/page_base.html" %}

{% load static web_tags i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'web/css/masonry.css' %}">
{% endblock %}

{% block title %}{% translate "Artportraits" %}{% endblock %}

{% block header_title %}
<div class="header-title">
  {% inline_svg 'all.svg' %}
  <h1>{% translate "Artportraits" %}</h1>
  <p>{% translate "Finde Tiere und Pflanzen, indem du einen Artnamen eingibst oder nach Schlagwörtern sortierst." %}</p>
</div>

{% endblock %}

{% block content %}
<main>
  <div id="species-masonry">
  </div>
  <script>
    const masonry = document.getElementById("species-masonry");
    const numnber_of_columns = 3;
    for(let i = 0; i < numnber_of_columns; i++) {
        masonry.appendChild(document.createElement("div"));
    }
    let offset = 0;
    let hasMore = true;
    let fetching = false;

    function fetchingDone() {
        fetching = false;
    }

    function needsMore() {
        const windowHeight = window.innerHeight;
        const distanceToBottom = document.documentElement.offsetHeight - (window.scrollY + windowHeight);
        return distanceToBottom < (windowHeight * 2);
    }

    function fetchMore() {
        limit = 64;
        fetching = true;
        const xhr = new XMLHttpRequest();
        xhr.onload = () => {
            if(xhr.status == 200) {
                hasMore = xhr.responseXML.body.hasAttribute("data-has-more");
                for (const species of xhr.responseXML.body.children) {
                    let smallest = null;
                    let smallest_size = null;
                    for(const column of masonry.children) {
                        let size = 0
                        for(const tile of column.children) {
                            const tile_img = tile.getElementsByTagName("img")[0];
                            size += tile_img.height / tile_img.width;
                        }
                        if(smallest_size == null || size < smallest_size) {
                            smallest = column;
                            smallest_size = size;
                        }
                    }
                    smallest.appendChild(species.cloneNode(true));
                }
                offset+=limit;
            }
            fetchingDone();
        };
        xhr.addEventListener("error", fetchingDone);
        xhr.addEventListener("abort", fetchingDone);
        xhr.open("GET", `{% url 'search_portrait_data' %}?offset=${offset}&limit=${limit}`);
        xhr.responseType = "document";
        xhr.send();
    }

    function onScroll(event) {
        if(hasMore && needsMore() && !fetching) {
            fetchMore();
        }
    }
    document.addEventListener("scroll",onScroll);
    fetchMore();
  </script>
</main>
{% endblock %}
