{% extends "web/page_base.html" %}

{% load static web_tags %}
{% block css %}
{% endblock %}
{% block title %}Audio pattern recognition birds{% endblock %}

{% block header_title %}
<h1>Audio pattern recognition birds</h1>
{% endblock %}

{% block content %}
<main class="text-container">
  <p>
    Naturblick supports your nature experience in the city. The suggestions of the automated species identification are produced by comparing audio recordings of 239 birds.
  </p>
  <p>This means:</p>
  <ol>
    <li>only species that have been trained can be recognised,</li>
    <li>the recognition works best if there is a high similarity to the recording situation and quality (e.g. microphone quality).</li>
  </ol>
  <p>
    The Naturblick algorithm was trained with audio material from the Animal Sound Archive of the Museum für Naturkunde Berlin, the collaborative online database Xeno-Canto and verified Naturblick recordings. The following species can be identified (September 2021):
  </p>
  <ol class="specieslist">    
    <li><em>Accipiter gentilis</em></li>
    <li><em>Accipiter nisus</em></li>
    <li><em>Acrocephalus arundinaceus</em></li>
    <li><em>Acrocephalus melanopogon</em></li>
    <li><em>Acrocephalus paludicola</em></li>
    <li><em>Acrocephalus palustris</em></li>
    <li><em>Acrocephalus schoenobaenus</em></li>
    <li><em>Acrocephalus scirpaceus</em></li>
    <li><em>Actitis hypoleucos</em></li>
    <li><em>Aegithalos caudatus</em></li>
    <li><em>Aegolius funereus</em></li>
    <li><em>Alauda arvensis</em></li>
    <li><em>Alcedo atthis</em></li>
    <li><em>Alopochen aegyptiaca</em></li>
    <li><em>Anas acuta</em></li>
    <li><em>Anas platyrhynchos</em></li>
    <li><em>Anser albifrons</em></li>
    <li><em>Anser anser</em></li>
    <li><em>Anser fabalis</em></li>
    <li><em>Anthus campestris</em></li>
    <li><em>Anthus cervinus</em></li>
    <li><em>Anthus petrosus</em></li>
    <li><em>Anthus pratensis</em></li>
    <li><em>Anthus spinoletta</em></li>
    <li><em>Anthus trivialis</em></li>
    <li><em>Apus apus</em></li>
    <li><em>Ardea cinerea</em></li>
    <li><em>Arenaria interpres</em></li>
    <li><em>Asio otus</em></li>
    <li><em>Athene noctua</em></li>
    <li><em>Aythya ferina</em></li>
    <li><em>Aythya fuligula</em></li>
    <li><em>Botaurus stellaris</em></li>
    <li><em>Branta canadensis</em></li>
    <li><em>Branta leucopsis</em></li>
    <li><em>Bubo bubo</em></li>
    <li><em>Bubo scandiacus</em></li>
    <li><em>Bucephala clangula</em></li>
    <li><em>Buteo buteo</em></li>
    <li><em>Calcarius lapponicus</em></li>
    <li><em>Calidris alpina</em></li>
    <li><em>Calidris canutus</em></li>
    <li><em>Calidris ferruginea</em></li>
    <li><em>Caprimulgus europaeus</em></li>
    <li><em>Carduelis carduelis</em></li>
    <li><em>Carduelis citrinella</em></li>
    <li><em>Carduelis flammea</em></li>
    <li><em>Carpodacus erythrinus</em></li>
    <li><em>Certhia brachydactyla</em></li>
    <li><em>Certhia familiaris</em></li>
    <li><em>Cettia cetti</em></li>
    <li><em>Charadrius alexandrinus</em></li>
    <li><em>Charadrius dubius</em></li>
    <li><em>Charadrius hiaticula</em></li>
    <li><em>Chlidonias hybrida</em></li>
    <li><em>Chlidonias niger</em></li>
    <li><em>Chloris chloris</em></li>
    <li><em>Chroicocephalus ridibundus</em></li>
    <li><em>Circus aeruginosus</em></li>
    <li><em>Cisticola juncidis</em></li>
    <li><em>Clamator glandarius</em></li>
    <li><em>Clanga pomarina</em></li>
    <li><em>Clangula hyemalis</em></li>
    <li><em>Coccothraustes coccothraustes</em></li>
    <li><em>Columba oenas</em></li>
    <li><em>Columba palumbus</em></li>
    <li><em>Corvus corax</em></li>
    <li><em>Corvus cornix</em></li>
    <li><em>Corvus corone</em></li>
    <li><em>Corvus frugilegus</em></li>
    <li><em>Corvus monedula</em></li>
    <li><em>Coturnix coturnix</em></li>
    <li><em>Crex crex</em></li>
    <li><em>Cuculus canorus</em></li>
    <li><em>Cygnus columbianus</em></li>
    <li><em>Cygnus cygnus</em></li>
    <li><em>Cygnus olor</em></li>
    <li><em>Delichon urbicum</em></li>
    <li><em>Dendrocopos major</em></li>
    <li><em>Dendrocopos minor</em></li>
    <li><em>Dryocopus martius</em></li>
    <li><em>Emberiza aureola</em></li>
    <li><em>Emberiza calandra</em></li>
    <li><em>Emberiza cia</em></li>
    <li><em>Emberiza cirlus</em></li>
    <li><em>Emberiza citrinella</em></li>
    <li><em>Emberiza hortulana</em></li>
    <li><em>Emberiza melanocephala</em></li>
    <li><em>Emberiza pusilla</em></li>
    <li><em>Emberiza rustica</em></li>
    <li><em>Emberiza schoeniclus</em></li>
    <li><em>Erithacus rubecula</em></li>
    <li><em>Falco peregrinus</em></li>
    <li><em>Falco subbuteo</em></li>
    <li><em>Falco tinnunculus</em></li>
    <li><em>Ficedula albicollis</em></li>
    <li><em>Ficedula hypoleuca</em></li>
    <li><em>Ficedula parva</em></li>
    <li><em>Fringilla coelebs</em></li>
    <li><em>Fringilla montifringilla</em></li>
    <li><em>Fulica atra</em></li>
    <li><em>Galerida cristata</em></li>
    <li><em>Gallinago gallinago</em></li>
    <li><em>Gallinula chloropus</em></li>
    <li><em>Garrulus glandarius</em></li>
    <li><em>Gavia arctica</em></li>
    <li><em>Grus grus</em></li>
    <li><em>Haematopus ostralegus</em></li>
    <li><em>Haliaeetus albicilla</em></li>
    <li><em>Himantopus himantopus</em></li>
    <li><em>Hippolais icterina</em></li>
    <li><em>Hirundo rustica</em></li>
    <li><em>Ixobrychus minutus</em></li>
    <li><em>Jynx torquilla</em></li>
    <li><em>Lagopus muta</em></li>
    <li><em>Lanius collurio</em></li>
    <li><em>Lanius excubitor</em></li>
    <li><em>Larus argentatus</em></li>
    <li><em>Larus cachinnans</em></li>
    <li><em>Larus canus</em></li>
    <li><em>Larus fuscus</em></li>
    <li><em>Larus marinus</em></li>
    <li><em>Larus michahellis</em></li>
    <li><em>Leiopicus medius</em></li>
    <li><em>Limosa limosa</em></li>
    <li><em>Linaria cannabina</em></li>
    <li><em>Locustella fluviatilis</em></li>
    <li><em>Locustella luscinioides</em></li>
    <li><em>Locustella naevia</em></li>
    <li><em>Lophophanes cristatus</em></li>
    <li><em>Loxia curvirostra</em></li>
    <li><em>Loxia leucoptera</em></li>
    <li><em>Loxia pytyopsittacus</em></li>
    <li><em>Lullula arborea</em></li>
    <li><em>Luscinia luscinia</em></li>
    <li><em>Luscinia megarhynchos</em></li>
    <li><em>Luscinia svecica</em></li>
    <li><em>Lyrurus tetrix</em></li>
    <li><em>Mareca penelope</em></li>
    <li><em>Mareca strepera</em></li>
    <li><em>Melanocorypha calandra</em></li>
    <li><em>Mergus serrator</em></li>
    <li><em>Merops apiaster</em></li>
    <li><em>Milvus migrans</em></li>
    <li><em>Milvus milvus</em></li>
    <li><em>Motacilla alba</em></li>
    <li><em>Motacilla cinerea</em></li>
    <li><em>Motacilla flava</em></li>
    <li><em>Muscicapa striata</em></li>
    <li><em>Nucifraga caryocatactes</em></li>
    <li><em>Numenius arquata</em></li>
    <li><em>Numenius phaeopus</em></li>
    <li><em>Oenanthe oenanthe</em></li>
    <li><em>Oriolus oriolus</em></li>
    <li><em>Otus scops</em></li>
    <li><em>Pandion haliaetus</em></li>
    <li><em>Panurus biarmicus</em></li>
    <li><em>Parus caeruleus</em></li>
    <li><em>Parus major</em></li>
    <li><em>Passer domesticus</em></li>
    <li><em>Passer montanus</em></li>
    <li><em>Perdix perdix</em></li>
    <li><em>Periparus ater</em></li>
    <li><em>Phalacrocorax carbo</em></li>
    <li><em>Phasianus colchicus</em></li>
    <li><em>Phoenicopterus roseus</em></li>
    <li><em>Phoenicurus ochruros</em></li>
    <li><em>Phoenicurus phoenicurus</em></li>
    <li><em>Phylloscopus bonelli</em></li>
    <li><em>Phylloscopus borealis</em></li>
    <li><em>Phylloscopus collybita</em></li>
    <li><em>Phylloscopus ibericus</em></li>
    <li><em>Phylloscopus sibilatrix</em></li>
    <li><em>Phylloscopus trochiloides</em></li>
    <li><em>Phylloscopus trochilus</em></li>
    <li><em>Pica pica</em></li>
    <li><em>Picus canus</em></li>
    <li><em>Picus viridis</em></li>
    <li><em>Plectrophenax nivalis</em></li>
    <li><em>Podiceps cristatus</em></li>
    <li><em>Podiceps grisegena</em></li>
    <li><em>Podiceps nigricollis</em></li>
    <li><em>Poecile montanus</em></li>
    <li><em>Poecile palustris</em></li>
    <li><em>Porzana parva</em></li>
    <li><em>Porzana porzana</em></li>
    <li><em>Prunella modularis</em></li>
    <li><em>Pyrrhocorax graculus</em></li>
    <li><em>Pyrrhula pyrrhula</em></li>
    <li><em>Rallus aquaticus</em></li>
    <li><em>Recurvirostra avosetta</em></li>
    <li><em>Regulus ignicapilla</em></li>
    <li><em>Regulus regulus</em></li>
    <li><em>Remiz pendulinus</em></li>
    <li><em>Riparia riparia</em></li>
    <li><em>Rissa tridactyla</em></li>
    <li><em>Saxicola rubetra</em></li>
    <li><em>Saxicola rubicola</em></li>
    <li><em>Scolopax rusticola</em></li>
    <li><em>Serinus serinus</em></li>
    <li><em>Sitta europaea</em></li>
    <li><em>Somateria mollissima</em></li>
    <li><em>Spatula querquedula</em></li>
    <li><em>Spinus spinus</em></li>
    <li><em>Stercorarius skua</em></li>
    <li><em>Sterna hirundo</em></li>
    <li><em>Sterna paradisaea</em></li>
    <li><em>Streptopelia decaoct</em></li>
    <li><em>Streptopelia turtur</em></li>
    <li><em>Strix aluco</em></li>
    <li><em>Sturnus vulgaris</em></li>
    <li><em>Sylvia atricapilla</em></li>
    <li><em>Sylvia borin</em></li>
    <li><em>Sylvia cantillans</em></li>
    <li><em>Sylvia communis</em></li>
    <li><em>Sylvia conspicillata</em></li>
    <li><em>Sylvia curruca</em></li>
    <li><em>Sylvia melanocephala</em></li>
    <li><em>Sylvia nisoria</em></li>
    <li><em>Sylvia undata</em></li>
    <li><em>Tachybaptus ruficollis</em></li>
    <li><em>Tadorna tadorna</em></li>
    <li><em>Tetrao urogallus</em></li>
    <li><em>Tetrastes bonasia</em></li>
    <li><em>Thalasseus sandvicensis</em></li>
    <li><em>Tringa erythropus</em></li>
    <li><em>Tringa glareola</em></li>
    <li><em>Tringa nebularia</em></li>
    <li><em>Tringa ochropus</em></li>
    <li><em>Tringa totanus</em></li>
    <li><em>Troglodytes troglodytes</em></li>
    <li><em>Turdus iliacus</em></li>
    <li><em>Turdus merula</em></li>
    <li><em>Turdus philomelos</em></li>
    <li><em>Turdus pilaris</em></li>
    <li><em>Turdus viscivorus</em></li>
    <li><em>Tyto alba</em></li>
    <li><em>Upupa epops</em></li>
    <li><em>Vanellus vanellus</em></li>
  </ol>
</main>
{% endblock %}
