{% extends "web/page_base.html" %}

{% load static web_tags %}
{% block css %}
{% endblock %}
{% block title %}Lauterkennung Vögel{% endblock %}

{% block header_title %}
<h1>Lauterkennung Vögel</h1>
{% endblock %}

{% block content %}
<main class="text-container">
  <p>
    Naturblick unterstützt deine Naturerfahrung in der Stadt. Die Vorschläge der automatisierten Artbestimmung entstehen durch den Vergleich mit Daten (in diesem Fall Audioaufnahmen von Vögeln), mit denen der Algorithmus trainiert wurde.
  </p>
  <p>Das bedeutet:</p>
  <ol>
    <li>es können nur Arten erkannt werden, die auch trainiert wurden</li>
    <li>die Erkennung funktioniert am besten, wenn eine große Ähnlichkeit zu der Aufnahmesituation und -qualität besteht (z.B. Mikrofonqualität).</li>
  </ol>
  <p>
    Der Naturblick Algorithmus wurde mit Audiomaterial aus dem Tierstimmenarchiv des Museum für Naturkunde Berlin, der kollaborativen Online-Datenbank Xeno-Canto und verifizierten Naturblick-Aufnahmen trainiert. Folgende Arten können bestimmt werden (Stand September 2021): 
  </p>
  <ol class="specieslist">    
    <li>Aaskrähe (<em>Corvus corone</em>)</li>
    <li>Alpendohle (<em>Pyrrhocorax graculus</em>)</li>
    <li>Alpenschneehuhn (<em>Lagopus muta</em>)</li>
    <li>Alpenstrandläufer (<em>Calidris alpina</em>)</li>
    <li>Amsel (<em>Turdus merula</em>)</li>
    <li>Auerhuhn (<em>Tetrao urogallus</em>)</li>
    <li>Austernfischer (<em>Haematopus ostralegus</em>)</li>
    <li>Bachstelze (<em>Motacilla alba</em>)</li>
    <li>Bartmeise (<em>Panurus biarmicus</em>)</li>
    <li>Baumfalke (<em>Falco subbuteo</em>)</li>
    <li>Baumpieper (<em>Anthus trivialis</em>)</li>
    <li>Bekassine (<em>Gallinago gallinago</em>)</li>
    <li>Bergfink (<em>Fringilla montifringilla</em>)</li>
    <li>Berglaubsänger (<em>Phylloscopus bonelli</em>)</li>
    <li>Bergpieper (<em>Anthus spinoletta</em>)</li>
    <li>Beutelmeise (<em>Remiz pendulinus</em>)</li>
    <li>Bienenfresser (<em>Merops apiaster</em>)</li>
    <li>Bindenkreuzschnabel (<em>Loxia leucoptera</em>)</li>
    <li>Birkenzeisig (<em>Carduelis flammea</em>)</li>
    <li>Birkhuhn (<em>Lyrurus tetrix</em>)</li>
    <li>Blässgans (<em>Anser albifrons</em>)</li>
    <li>Blässhuhn (<em>Fulica atra</em>)</li>
    <li>Blaukehlchen (<em>Luscinia svecica</em>)</li>
    <li>Blaumeise (<em>Parus caeruleus</em>)</li>
    <li>Bluthänfling (<em>Linaria cannabina</em>)</li>
    <li>Brachpieper (<em>Anthus campestris</em>)</li>
    <li>Brachvogel (<em>Numenius arquata</em>)</li>
    <li>Brandgans (<em>Tadorna tadorna</em>)</li>
    <li>Brandseeschwalbe (<em>Thalasseus sandvicensis</em>)</li>
    <li>Braunkehlchen (<em>Saxicola rubetra</em>)</li>
    <li>Brillengrasmücke (<em>Sylvia conspicillata</em>)</li>
    <li>Bruchwasserläufer (<em>Tringa glareola</em>)</li>
    <li>Buchfink (<em>Fringilla coelebs</em>)</li>
    <li>Buntspecht (<em>Dendrocopos major</em>)</li>
    <li>Dohle (<em>Corvus monedula</em>)</li>
    <li>Dorngrasmücke (<em>Sylvia communis</em>)</li>
    <li>Dreizehenmöwe (<em>Rissa tridactyla</em>)</li>
    <li>Drosselrohrsänger (<em>Acrocephalus arundinaceus</em>)</li>
    <li>Dunkelwasserläufer (<em>Tringa erythropus</em>)</li>
    <li>Eichelhäher (<em>Garrulus glandarius</em>)</li>
    <li>Eiderente (<em>Somateria mollissima</em>)</li>
    <li>Eisente (<em>Clangula hyemalis</em>)</li>
    <li>Eisvogel (<em>Alcedo atthis</em>)</li>
    <li>Elster (<em>Pica pica</em>)</li>
    <li>Erlenzeisig (<em>Spinus spinus</em>)</li>
    <li>Fasan (<em>Phasianus colchicus</em>)</li>
    <li>Feldlerche (<em>Alauda arvensis</em>)</li>
    <li>Feldschwirl (<em>Locustella naevia</em>)</li>
    <li>Feldsperling (<em>Passer montanus</em>)</li>
    <li>Fichtenkreuzschnabel (<em>Loxia curvirostra</em>)</li>
    <li>Fischadler (<em>Pandion haliaetus</em>)</li>
    <li>Fitis (<em>Phylloscopus trochilus</em>)</li>
    <li>Flussregenpfeifer (<em>Charadrius dubius</em>)</li>
    <li>Flussseeschwalbe (<em>Sterna hirundo</em>)</li>
    <li>Flussuferläufer (<em>Actitis hypoleucos</em>)</li>
    <li>Gartenbaumläufer (<em>Certhia brachydactyla</em>)</li>
    <li>Gartengrasmücke (<em>Sylvia borin</em>)</li>
    <li>Gartenrotschwanz (<em>Phoenicurus phoenicurus</em>)</li>
    <li>Gebirgsstelze (<em>Motacilla cinerea</em>)</li>
    <li>Gelbspötter (<em>Hippolais icterina</em>)</li>
    <li>Gimpel (<em>Pyrrhula pyrrhula</em>)</li>
    <li>Girlitz (<em>Serinus serinus</em>)</li>
    <li>Goldammer (<em>Emberiza citrinella</em>)</li>
    <li>Grauammer (<em>Emberiza calandra</em>)</li>
    <li>Graugans (<em>Anser anser</em>)</li>
    <li>Graureiher (<em>Ardea cinerea</em>)</li>
    <li>Grauschnäpper (<em>Muscicapa striata</em>)</li>
    <li>Grauspecht (<em>Picus canus</em>)</li>
    <li>Grünfink (<em>Chloris chloris</em>)</li>
    <li>Grünlaubsänger (<em>Phylloscopus trochiloides</em>)</li>
    <li>Grünschenkel (<em>Tringa nebularia</em>)</li>
    <li>Grünspecht (<em>Picus viridis</em>)</li>
    <li>Habicht (<em>Accipiter gentilis</em>)</li>
    <li>Häherkuckuck (<em>Clamator glandarius</em>)</li>
    <li>Halsbandschnäpper (<em>Ficedula albicollis</em>)</li>
    <li>Haselhuhn (<em>Tetrastes bonasia</em>)</li>
    <li>Haubenlerche (<em>Galerida cristata</em>)</li>
    <li>Haubenmeise (<em>Lophophanes cristatus</em>)</li>
    <li>Haubentaucher (<em>Podiceps cristatus</em>)</li>
    <li>Hausrotschwanz (<em>Phoenicurus ochruros</em>)</li>
    <li>Haussperling (<em>Passer domesticus</em>)</li>
    <li>Heckenbraunelle (<em>Prunella modularis</em>)</li>
    <li>Heidelerche (<em>Lullula arborea</em>)</li>
    <li>Heringsmöwe (<em>Larus fuscus</em>)</li>
    <li>Höckerschwan (<em>Cygnus olor</em>)</li>
    <li>Hohltaube (<em>Columba oenas</em>)</li>
    <li>Iberienzilpzalp (<em>Phylloscopus ibericus</em>)</li>
    <li>Kalanderlerche (<em>Melanocorypha calandra</em>)</li>
    <li>Kanadagans (<em>Branta canadensis</em>)</li>
    <li>Kappenammer (<em>Emberiza melanocephala</em>)</li>
    <li>Karmingimpel (<em>Carpodacus erythrinus</em>)</li>
    <li>Kernbeißer (<em>Coccothraustes coccothraustes</em>)</li>
    <li>Kiebitz (<em>Vanellus vanellus</em>)</li>
    <li>Kiefernkreuzschnabel (<em>Loxia pytyopsittacus</em>)</li>
    <li>Klappergrasmücke (<em>Sylvia curruca</em>)</li>
    <li>Kleiber (<em>Sitta europaea</em>)</li>
    <li>Kleinspecht (<em>Dendrocopos minor</em>)</li>
    <li>Kleinsumpfhuhn (<em>Porzana parva</em>)</li>
    <li>Knäkente (<em>Spatula querquedula</em>)</li>
    <li>Knutt (<em>Calidris canutus</em>)</li>
    <li>Kohlmeise (<em>Parus major</em>)</li>
    <li>Kolkrabe (<em>Corvus corax</em>)</li>
    <li>Kormoran (<em>Phalacrocorax carbo</em>)</li>
    <li>Kranich (<em>Grus grus</em>)</li>
    <li>Kuckuck (<em>Cuculus canorus</em>)</li>
    <li>Küstenseeschwalbe (<em>Sterna paradisaea</em>)</li>
    <li>Lachmöwe (<em>Chroicocephalus ridibundus</em>)</li>
    <li>Mantelmöwe (<em>Larus marinus</em>)</li>
    <li>Mariskenrohrsänger (<em>Acrocephalus melanopogon</em>)</li>
    <li>Mauersegler (<em>Apus apus</em>)</li>
    <li>Mäusebussard (<em>Buteo buteo</em>)</li>
    <li>Mehlschwalbe (<em>Delichon urbicum</em>)</li>
    <li>Misteldrossel (<em>Turdus viscivorus</em>)</li>
    <li>Mittelmeermöwe (<em>Larus michahellis</em>)</li>
    <li>Mittelsäger (<em>Mergus serrator</em>)</li>
    <li>Mittelspecht (<em>Leiopicus medius</em>)</li>
    <li>Mönchsgrasmücke (<em>Sylvia atricapilla</em>)</li>
    <li>Nachtigall (<em>Luscinia megarhynchos</em>)</li>
    <li>Nachtschwalbe (<em>Caprimulgus europaeus</em>)</li>
    <li>Nebelkrähe (<em>Corvus cornix</em>)</li>
    <li>Neuntöter (<em>Lanius collurio</em>)</li>
    <li>Nilgans (<em>Alopochen aegyptiaca</em>)</li>
    <li>Ortolan (<em>Emberiza hortulana</em>)</li>
    <li>Pfeifente (<em>Mareca penelope</em>)</li>
    <li>Pfeifschwan (<em>Cygnus columbianus</em>)</li>
    <li>Pirol (<em>Oriolus oriolus</em>)</li>
    <li>Prachttaucher (<em>Gavia arctica</em>)</li>
    <li>Provencegrasmücke (<em>Sylvia undata</em>)</li>
    <li>Raubwürger (<em>Lanius excubitor</em>)</li>
    <li>Rauchschwalbe (<em>Hirundo rustica</em>)</li>
    <li>Raufußkauz (<em>Aegolius funereus</em>)</li>
    <li>Rebhuhn (<em>Perdix perdix</em>)</li>
    <li>Regenbrachvogel (<em>Numenius phaeopus</em>)</li>
    <li>Reiherente (<em>Aythya fuligula</em>)</li>
    <li>Ringeltaube (<em>Columba palumbus</em>)</li>
    <li>Rohrammer (<em>Emberiza schoeniclus</em>)</li>
    <li>Rohrdommel (<em>Botaurus stellaris</em>)</li>
    <li>Rohrschwirl (<em>Locustella luscinioides</em>)</li>
    <li>Rohrweihe (<em>Circus aeruginosus</em>)</li>
    <li>Rosaflamingo (<em>Phoenicopterus roseus</em>)</li>
    <li>Rotdrossel (<em>Turdus iliacus</em>)</li>
    <li>Rothalstaucher (<em>Podiceps grisegena</em>)</li>
    <li>Rotkehlchen (<em>Erithacus rubecula</em>)</li>
    <li>Rotkehlpieper (<em>Anthus cervinus</em>)</li>
    <li>Rotmilan (<em>Milvus milvus</em>)</li>
    <li>Rotschenkel (<em>Tringa totanus</em>)</li>
    <li>Saatgans (<em>Anser fabalis</em>)</li>
    <li>Saatkrähe (<em>Corvus frugilegus</em>)</li>
    <li>Säbelschnäbler (<em>Recurvirostra avosetta</em>)</li>
    <li>Samtkopf-Grasmücke (<em>Sylvia melanocephala</em>)</li>
    <li>Sandregenpfeifer (<em>Charadrius hiaticula</em>)</li>
    <li>Schellente (<em>Bucephala clangula</em>)</li>
    <li>Schilfrohrsänger (<em>Acrocephalus schoenobaenus</em>)</li>
    <li>Schlagschwirl (<em>Locustella fluviatilis</em>)</li>
    <li>Schleiereule (<em>Tyto alba</em>)</li>
    <li>Schnatterente (<em>Mareca strepera</em>)</li>
    <li>Schneeammer (<em>Plectrophenax nivalis</em>)</li>
    <li>Schneeeule (<em>Bubo scandiacus</em>)</li>
    <li>Schreiadler (<em>Clanga pomarina</em>)</li>
    <li>Schwanzmeise (<em>Aegithalos caudatus</em>)</li>
    <li>Schwarzhalstaucher (<em>Podiceps nigricollis</em>)</li>
    <li>Schwarzkehlchen (<em>Saxicola rubicola</em>)</li>
    <li>Schwarzmilan (<em>Milvus migrans</em>)</li>
    <li>Schwarzspecht (<em>Dryocopus martius</em>)</li>
    <li>Seeadler (<em>Haliaeetus albicilla</em>)</li>
    <li>Seeregenpfeifer (<em>Charadrius alexandrinus</em>)</li>
    <li>Seggenrohrsänger (<em>Acrocephalus paludicola</em>)</li>
    <li>Seidensänger (<em>Cettia cetti</em>)</li>
    <li>Sichelstrandläufer (<em>Calidris ferruginea</em>)</li>
    <li>Silbermöwe (<em>Larus argentatus</em>)</li>
    <li>Singdrossel (<em>Turdus philomelos</em>)</li>
    <li>Singschwan (<em>Cygnus cygnus</em>)</li>
    <li>Skua (<em>Stercorarius skua</em>)</li>
    <li>Sommergoldhähnchen (<em>Regulus ignicapilla</em>)</li>
    <li>Sperber (<em>Accipiter nisus</em>)</li>
    <li>Sperbergrasmücke (<em>Sylvia nisoria</em>)</li>
    <li>Spießente (<em>Anas acuta</em>)</li>
    <li>Spornammer (<em>Calcarius lapponicus</em>)</li>
    <li>Sprosser (<em>Luscinia luscinia</em>)</li>
    <li>Star (<em>Sturnus vulgaris</em>)</li>
    <li>Steinkauz (<em>Athene noctua</em>)</li>
    <li>Steinschmätzer (<em>Oenanthe oenanthe</em>)</li>
    <li>Steinwälzer (<em>Arenaria interpres</em>)</li>
    <li>Stelzenläufer (<em>Himantopus himantopus</em>)</li>
    <li>Steppenmöwe (<em>Larus cachinnans</em>)</li>
    <li>Stieglitz (<em>Carduelis carduelis</em>)</li>
    <li>Stockente (<em>Anas platyrhynchos</em>)</li>
    <li>Strandpieper (<em>Anthus petrosus</em>)</li>
    <li>Sturmmöwe (<em>Larus canus</em>)</li>
    <li>Sumpfmeise (<em>Poecile palustris</em>)</li>
    <li>Sumpfrohrsänger (<em>Acrocephalus palustris</em>)</li>
    <li>Tafelente (<em>Aythya ferina</em>)</li>
    <li>Tannenhäher (<em>Nucifraga caryocatactes</em>)</li>
    <li>Tannenmeise (<em>Periparus ater</em>)</li>
    <li>Teichhuhn (<em>Gallinula chloropus</em>)</li>
    <li>Teichrohrsänger (<em>Acrocephalus scirpaceus</em>)</li>
    <li>Trauerschnäpper (<em>Ficedula hypoleuca</em>)</li>
    <li>Trauerseeschwalbe (<em>Chlidonias niger</em>)</li>
    <li>Tüpfelsumpfhuhn (<em>Porzana porzana</em>)</li>
    <li>Türkentaube (<em>Streptopelia decaoct</em>)</li>
    <li>Turmfalke (<em>Falco tinnunculus</em>)</li>
    <li>Turteltaube (<em>Streptopelia turtur</em>)</li>
    <li>Uferschnepfe (<em>Limosa limosa</em>)</li>
    <li>Uferschwalbe (<em>Riparia riparia</em>)</li>
    <li>Uhu (<em>Bubo bubo</em>)</li>
    <li>Wacholderdrossel (<em>Turdus pilaris</em>)</li>
    <li>Wachtel (<em>Coturnix coturnix</em>)</li>
    <li>Wachtelkönig (<em>Crex crex</em>)</li>
    <li>Waldammer (<em>Emberiza rustica</em>)</li>
    <li>Waldbaumläufer (<em>Certhia familiaris</em>)</li>
    <li>Waldkauz (<em>Strix aluco</em>)</li>
    <li>Waldlaubsänger (<em>Phylloscopus sibilatrix</em>)</li>
    <li>Waldohreule (<em>Asio otus</em>)</li>
    <li>Waldschnepfe (<em>Scolopax rusticola</em>)</li>
    <li>Waldwasserläufer (<em>Tringa ochropus</em>)</li>
    <li>Wanderfalke (<em>Falco peregrinus</em>)</li>
    <li>Wanderlaubsänger (<em>Phylloscopus borealis</em>)</li>
    <li>Wasserralle (<em>Rallus aquaticus</em>)</li>
    <li>Weidenammer (<em>Emberiza aureola</em>)</li>
    <li>Weidenmeise (<em>Poecile montanus</em>)</li>
    <li>Weißbart-Grasmücke (<em>Sylvia cantillans</em>)</li>
    <li>Weißbart-Seeschwalbe (<em>Chlidonias hybrida</em>)</li>
    <li>Weißwangengans (<em>Branta leucopsis</em>)</li>
    <li>Wendehals (<em>Jynx torquilla</em>)</li>
    <li>Wiedehopf (<em>Upupa epops</em>)</li>
    <li>Wiesenpieper (<em>Anthus pratensis</em>)</li>
    <li>Wiesenschafstelze (<em>Motacilla flava</em>)</li>
    <li>Wintergoldhähnchen (<em>Regulus regulus</em>)</li>
    <li>Zaunammer (<em>Emberiza cirlus</em>)</li>
    <li>Zaunkönig (<em>Troglodytes troglodytes</em>)</li>
    <li>Zilpzalp (<em>Phylloscopus collybita</em>)</li>
    <li>Zippammer (<em>Emberiza cia</em>)</li>
    <li>Zistensänger (<em>Cisticola juncidis</em>)</li>
    <li>Zitronenzeisig (<em>Carduelis citrinella</em>)</li>
    <li>Zwergammer (<em>Emberiza pusilla</em>)</li>
    <li>Zwergdommel (<em>Ixobrychus minutus</em>)</li>
    <li>Zwergohreule (<em>Otus scops</em>)</li>
    <li>Zwergschnäpper (<em>Ficedula parva</em>)</li>
    <li>Zwergtaucher (<em>Tachybaptus ruficollis</em>)</li>
  </ol>
</main>
{% endblock %}
