name: Pull Request

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest  # Use GitHub-hosted runner
    steps:
      - uses: actions/checkout@v4
      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Build Docker image
        run: docker build -t ghcr.io/mfn-berlin/naturblick/django:pullrequest_${{ github.run_id }} .
      - name: Run Django tests
        run: docker run -e DJANGO_ENV=development --rm ghcr.io/mfn-berlin/naturblick/django:pullrequest_${{ github.run_id }} sh -c "python manage.py test"
