name: Pull Request

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest  # Use GitHub-hosted runner
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build .
      - name: Run Django tests
        run: docker run -e DJANGO_ENV=development --rm ghcr.io/mfn-berlin/naturblick/django:pullrequest_${{ github.run_id }} sh -c "python manage.py test"
